.message-wrapper {
    position: relative;
    border: 1px solid #b8daff;
    border-radius: 0.25rem;
}

.message-left {
    background-color: rgba(252, 255, 116, 0.1) !important;
}

.message-right {
    background-color: rgba(226, 255, 217, 0.51) !important;
}