<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="container bg-light alert alert-info post-wrapper pl-0 pr-0 mb-3">
                <div class="row m-0">
                    <div class="col-12 p-0">
                        <div class="container">
                            <div class="row post-body align-items-center m-0 p-0 ">
                                <form class="form-control list-unstyled" ng-submit="model.addComment()">
                                <div class="input-group input-group-lg postText">
                                    <input ng-model="model.text" type="text" class="form-control" placeholder="Написать комментарий..." value="" required>
                                    <button ng-disabled="!model.text" class="btn btn-primary" type="submit">Опубликовать</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>