<div class="container bg-light alert alert-info post-wrapper pl-0 pr-0 mb-3">
    <div class="row m-0">
        <div class="col text-center align-self-center">


            <div class="pb-3">
                <creator-chat-comp send-message="model.sendMessage"></creator-chat-comp>
            </div>

            <div>
                <div id="space-for-message"></div>
                <message-chat-comp message="message"
                                   ng-repeat="message in model.messages | orderBy : '-time' "></message-chat-comp>
            </div>


        </div>
    </div>
</div>
