<div class="container bg-light alert alert-info post-wrapper pl-0 pr-0 mb-3">
    <div class="row m-0">
        <div class="col text-center align-self-center">


            <div ng-init="sender.id = model.authId">
                <form id="messageForm" name="messageForm">
                    <div class="form-group">
                        <div class="input-group clearfix">
                            <input type="text" ng-model="model.content" placeholder="Type a message..."
                                   autocomplete="off"
                                   class="form-control"/>
                            <button type="button" ng-click="model.send(sender.id, recipient.id, model.content)"
                                    class="primary">
                                Отправить
                            </button>
                        </div>
                    </div>
                </form>


<!--
                <div>interlocutorId: {{model.interlocutorId}}</div>
                <div>sender: {{sender.id}}</div>
                <div>recipient: {{recipient.name}} {{recipient.surname}}</div>
                <div class="form-inline">
                    <label class=" pl-2 pr-2">recipient:</label>
                    <select ng-model="recipient" class="custom-select form-control"
                            ng-options="fromUser.name group by fromUser.surname for fromUser in model.friends">
                        <option value="">&#45;&#45; choose Name &#45;&#45;</option>
                    </select>
                    <button type="button" ng-click="model.connect(sender.id, recipient.id)"
                            class="btn btn-primary pl-3 m-2">Connect
                    </button>
                </div>
-->

                <div>
                    <ul id="messageArea"></ul>
                </div>
            </div>


        </div>
    </div>
</div>
