<link rel="stylesheet" href="common/css/events.css" type="text/css">

<div class="container main-content">
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-block btn-create" data-toggle="modal" data-target="#myModal">
                Создать ивент
            </button>
            <form class="form-inline mb-4">
                <div class="input-group shadow">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#9658;</span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Поиск..." ng-model="search.title">
                </div>
            </form>
            <div id="calendar"></div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                 aria-hidden="true">
                <form name="createEventForm" id="createEventForm" ng-submit="self.util.createEvent()">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h3 class="modal-title" id="createEventLongTitle">Где бухаем?</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        ng-click="self.util.resetEvent()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title" class="col-form-label font-italic">Название ивента:</label>
                                    <input type="text" name="title" id="title"
                                           class="form-control form-control-lg" aria-describedby="titleEvent"
                                           placeholder="Title"
                                           ng-model="self.title"
                                           ng-minlength="3" ng-maxlength="40"
                                           ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                                           required>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.title.$dirty && createEventForm.title.$error.minlength || createEventForm.title.$error.maxlength  && !(createEventForm.title.$error.$invalid)">
                                        В названии должно присутствовать более от 3 до 40 символов
                                    </p>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.title.$dirty && createEventForm.title.$error.pattern">
                                        Присутствуют недопустимые символы
                                    </p>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.title.$touched && createEventForm.title.$invalid && !(createEventForm.title.$error.pattern) && !(createEventForm.title.$error.minlength)">
                                        Поле должно быть заполненным
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label font-italic">Описание ивента:</label>
                                    <textarea type="text" name="description" class="form-control form-control-lg"
                                              id="description"
                                              aria-describedby="descriptionEvent" placeholder="Description"
                                              ng-model="self.text"
                                              ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                                              rows="5" required></textarea>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.description.$dirty && createEventForm.description.$error.pattern">
                                        Присутствуют недопустимые символы
                                    </p>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.description.$touched && createEventForm.description.$invalid">
                                        Поле должно быть заполненным
                                    </p>
                                </div>
                                <div>
                                    <label for="startTime" class="col-form-label font-italic">Время старта:</label>
                                    <input type="datetime-local" name="startTime" class="form-control form-control-lg"
                                           id="startTime" ng-model="self.startTime"
                                           min="{{self.today | date:'yyyy-MM-ddTHH:mm'}}"
                                           required>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.startTime.$touched && createEventForm.startTime.$invalid && !(createEventForm.startTime.$error.min)">
                                        Поле должно быть заполненным
                                    </p>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.startTime.$touched && createEventForm.startTime.$error.min">
                                        Дата начала ивента не может быть раньше текущей даты и времени
                                    </p>
                                    <label for="endTime" class="col-form-label font-italic">Время завершения:</label>
                                    <input type="datetime-local" name="endTime" class="form-control form-control-lg"
                                           id="endTime"
                                           ng-model="self.endTime"
                                           min="{{self.startTime | date:'yyyy-MM-ddTHH:mm'}}"
                                           required>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.endTime.$touched && createEventForm.endTime.$invalid  && !(createEventForm.endTime.$error.min)">
                                        Поле должно быть заполненным
                                    </p>
                                    <p class="form-text text-danger"
                                       ng-show="createEventForm.endTime.$touched && createEventForm.endTime.$error.min">
                                        Дата завершения ивента не может быть раньше даты начала ивента
                                    </p>
                                </div>
                                <div>
                                    <label for="places" class="col-form-label col-form-label-lg font-italic">Выбирете место:</label>
                                    <select class="form-control form-control-lg custom-select" id="places"
                                            ng-options="place.id as place.title for place in self.places"
                                            ng-model="self.place" required>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-lg btn-secondary" type="button" data-dismiss="modal"
                                        ng-click="self.util.resetEvent()">
                                    Закрыть
                                </button>
                                <button class="btn btn-lg btn-primary" type="submit"
                                        ng-disabled="createEventForm.$invalid">
                                    Создать
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="navbar justify-content-between">
                <div class="form-check form-check-inline">
                    <label class="form-check-label mr-4" for="allEvents">
                        Все ивенты
                        <input class="form-check-input" type="radio" name="filterEvents" id="allEvents"
                               ng-model="self.options['allEvents']" value='true' ng-change="self.util.getEvents()">
                    </label>

                    <label class="form-check-label mr-4" for="myEvents">
                        Мои ивенты
                        <input class="form-check-input" type="radio" name="filterEvents" id="myEvents"
                               ng-model="self.options['allEvents']" value='false' ng-change="self.util.getEvents()">
                    </label>

                    <label class="form-check-label mr-4" for="activeEvents">
                        Активные ивенты
                        <input class="form-check-input" type="radio" id="activeEvents"
                               ng-model="self.options['activeEvents']" value='true' ng-change="self.util.getEvents()">
                    </label>

                    <label class="form-check-label mr-4" for="passedEvents">
                        Пройденные ивенты
                        <input class="form-check-input" type="radio" id="passedEvents"
                               ng-model="self.options['activeEvents']" value='false' ng-change="self.util.getEvents()">
                    </label>

                    <label class="form-check-label mr-4" for="ownerEvents">
                        Управление ивентами
                        <input class="form-check-input" type="checkbox" id="ownerEvents"
                               ng-model="self.options['ownerEvents']" ng-change="self.util.getEvents()">
                    </label>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <p class="sort sort-text">Сортировать ивенты по: </p>
                <li class="nav-item" ng-class="{active : self.orderProp === 'title'}">
                    <a class="nav-link sort-text" ng-click="self.orderProp = 'title'" href="">названию</a>
                </li>
                <li class="nav-item" ng-class="{active : self.orderProp === 'startTime'}">
                    <a class="nav-link sort-text" ng-click="self.orderProp = 'startTime'" href="">времени</a>
                </li>
                <li class="nav-item" ng-class="{active : self.orderProp === 'text'}">
                    <a class="nav-link sort-text" ng-click="self.orderProp = 'text'" href="">описанию</a>
                </li>
                <li class="nav-item" ng-class="{active : self.orderProp === 'users'}">
                    <a class="nav-link sort-text" ng-click="self.orderProp = 'users'" href="">популярности</a>
                </li>
            </ul>

            <event-comp user-id="self.userId" get-events="self.util.getEvents" event="event"
                        ng-repeat="event in self.events | filter: search | orderBy:self.orderProp:true">
            </event-comp>

            <div class="modal fade" id="myModalClosed" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h3 class="modal-title" id="closedEventLongTitle">Упс!</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>Ивент уже закончен :(</p>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-lg btn-danger" type="button" ng-click="self.util.getEvents()" data-dismiss="modal">
                                Ок
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $('#calendar').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
    });
</script>