<link rel="stylesheet" href="common/css/event.css" type="text/css">

<div class="container main-content">
    <main>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-block btn-create" data-toggle="modal" data-target="#myModal">
                    Создать ивент
                </button>

                <div id="calendar"></div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h3 class="modal-title" id="createEventLongTitle">Где бухаем?</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title" class="col-form-label">Название ивента</label>
                                    <input type="text" class="form-control" id="title"
                                           aria-describedby="titleEvent" placeholder="Title">
                                    <small id="titleHelp" class="form-text text-muted">Введите название ивента</small>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Описание
                                        ивента</label>
                                    <input type="text" class="form-control" id="description"
                                           aria-describedby="descriptionEvent" placeholder="Description">
                                    <small id="descriptionHelp" class="form-text text-muted">Введите описание ивента
                                    </small>
                                </div>
                                <div>
                                    <label for="startTime" class="col-form-label">Время старта</label>
                                    <input type="datetime-local" class="form-control" id="startTime"
                                           required/>
                                    <label for="endTime" class="col-form-label col-form-label-lg">Время
                                        завершения</label>
                                    <input type="datetime-local" class="form-control form-control-lg" id="endTime"
                                           required/>
                                </div>
                                <div>
                                    <label for="places" class="col-form-label col-form-label-lg">Выбирете место</label>
                                    <select class="form-control form-control-lg custom-select" id="places"></select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="event">
                    <img src="images/events/temp_pab.jpg" class="pub-img">
                    <div class="title-event"><p>Вечер бухла</p></div>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non.</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/events/user.svg">
                        <p>10</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-10">
                <div class="event" ng-repeat="event in $ctrl.event| filter:$ctrl.getEvents|orderBy:$ctrl.orderProp">
                    <img class="pub-img" ng-src="{{event.pub.avatarUrl}}">
                    <div class="title-event"><p>{{event.title}}</p></div>
                    <p class="description">{{event.description}}</p>
                    <p class="time">{{event.startTime}} - {{event.endTime}}</p>
                    <div class="people">
                        <img src="images/events/user.svg">
                        <p>{{event.people}}</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
<script src="common/lib/bootstrap/js/jquery-ui.min.js"></script>
<script src="common/lib/bootstrap/js/bootstrap_4.0.0.js"></script>
<script>
    $('#calendar').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
    });
</script>