<div class="row justify-content-center" ng-show="model.user.deleted">
    <div class="col-md-5 img-container">
        <p class="text-center text-primary h2">Пользователь удалил свою страницу</p>
        <img src="images/userspictures/deleted-avatar.jpg"
             class="" alt="ava">
    </div>
</div>
<div class="container-fluid" ng-init="model.iView = false" ng-show="!model.user.deleted">
    <div class="row">
        <div class="container-fluid">
            <!--Write your HTML here-->
            <p class="text-info h2 text-center">Информация о пользователе</p>
            <div class="row justify-content-md-center" ng-show="!model.user.deleted">
                <div class="col-md-3 img-container">
                    <img src="{{model.user.avatarUrl}}" class="" alt="face">
                </div>
                <div class="col-md-6">
                    <div class="m-2">
                        <p class=" h1">{{model.user.name}} {{model.user.surname}}</p>
                    </div>
                    <div class="m-2">
                        <p class="text-primary">{{model.user.status}}</p>
                    </div>
                    <div class="alert alert-info bg-light">
                        <div>
                            <p>Возраст: <span class="text-info">{{model.user.age}}</span></p>
                        </div>
                        <div>
                            <p>Email: <span class="text-info">{{model.user.email}}</span></p>
                        </div>
                        <div>
                            <p>Город: <span class="text-info">{{model.user.city}}</span></p>
                        </div>
                        <div>
                            <p>Страна: <span class="text-info">{{model.user.country}}</span></p>
                        </div>
                    </div>
                    <div>
                        <button-friends-comp size="big" user-id="model.requestData.id"></button-friends-comp>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container text-info text-center h4" ng-hide="model.iView">
        <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.iView = true">Показать друзей</a>
    </div>
    <div class="container text-info text-center h4" ng-hide="!model.iView">
        <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.iView = false">Скрыть друзей</a>
        <view-friends-comp user-id="model.requestData.id"></view-friends-comp>
    </div>

    <link rel="stylesheet" href="common/css/events.css" type="text/css">
    <div class="eventsUser">
        <div class="container text-info text-center h4" ng-hide="model.isEvents">
            <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.getEvents()">Показать ивенты</a>
        </div>
        <div class="container text-info text-center h4" ng-hide="!model.isEvents">
            <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.isEvents = false">Скрыть
                ивенты</a>
            <event-comp user-id="self.userId" notification="self.notification" event="event"
                        ng-repeat="event in model.events | orderBy:'startTime':true">
            </event-comp>
        </div>
    </div>
    <div>
        <user-news-comp auth-id="model.authId" user-id="model.requestData.id"></user-news-comp>
    </div>
</div>
