<div class="container-fluid" ng-init="model.iView = true">
    <div class="row">
        <div class="container-fluid">
            <!--Write your HTML here-->
            <p class="text-info h2 text-center">Информация о пользователе</p>

            <div class="row">
                <div class="col-md-4">
                    <img src="{{model.user.avatarUrl}}" class="img-fluid" alt="face">
                </div>
                <div class="col-md-6">
                    <div class="shadow p-5 m-1 bg-white">
                        <p class=" h1 text-center">{{model.user.name}} {{model.user.surname}}</p>
                    </div>
                    <div class="shadow p-5 m-1 bg-white">
                        <p class="text-center text-primary">{{model.user.status}}</p>
                    </div>
                    <div class="shadow p-5 m-1 bg-white">
                        <div>
                            <p class="text-center">{{model.user.age}} years old</p>
                        </div>
                        <div>
                            <p class="text-center">{{model.user.city}}, {{model.user.country}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="text-info text-center h4" ng-hide="model.iView">
        <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.iView = true">Показать друзей</a>
    </div>
    <div class="text-info text-center h4" ng-hide="!model.iView">
        <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.iView = false">Скрыть друзей</a>
        <view-friends-comp user-id="model.requestData.id"></view-friends-comp>
        <a href="" class="bg-light alert alert-info dropdown-item" ng-click="model.iView = false">Скрыть друзей</a>
    </div>
    <div>
        <user-news-comp user-id="model.requestData.id"></user-news-comp>
    </div>
</div>
