<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="../../temp/1.html"><input type="button" value="Main"></a><br>
<input type="button" onclick="createUser()" value="Создать нового пользователя"><br>
<input type="button" onclick="createPlace()" value="Создать новое место"><br>

<p>
    <label for="user">Вы зашли под юзером</label>
    <select name="select" id="user"></select>
    <label for="user-events">Ивенты в которых вы участвуете</label>
    <select name="select" id="user-events"></select>
</p>
<p>
    <label for="active-events">Активные ивенты</label>
    <select name="select" id="active-events"></select>
</p>
<p>
    <label for="passed-events">Пройденные ивенты</label>
    <select name="select" id="passed-events"></select>
</p>
<form onsubmit="">
    <p>
        <label for="owner">Создатель ивента:</label> <label id="owner"></label> <br>
        <label for="title">Заголовок</label>
        <input type="text" id="title" required/>
    </p>
    <p>
        <label for="text">Текст</label>
        <input type="text" id="text"/>
    </p>
    <p>
        <label for="startTime">Время старта</label>
        <input type="datetime-local" id="startTime" required/>
    </p>
    <p>
        <label for="endTime">Время завершения</label>
        <input type="datetime-local" id="endTime" required/>
    </p>
    <p>
        <label for="places">Места</label>
        <select name="select" id="places"></select>
        <label for="place-events">Эвенты проходящие в этом месте</label>
        <select name="select" id="place-events"></select>
    </p>
    <input type="button" onclick="saveEvent()" value="Создать!">
    <input type="button" onclick="deleteEvent()" value="Завершить евент!">
</form>
<p>
    <label for="users-event">Пользователи в ивенте</label>
    <select name="select" id="users-event">
    </select>
</p>
<p>
    <label for="result">Результат последней операции</label>
    <label id="result">-</label>
</p>
<p>
    <label for="users">Пользователи</label>
    <select name="select" id="users"></select>
</p>
<input type="button" onclick="addUserToEvent()" value="Добавить пользователя к ивенту">
<input type="button" onclick="deleteUserFromEvent()" value="Удалить пользователя из ивента">

<script src="../../common/lib/jquery/jquery-2.1.4.min.js"></script>
<script src="js/eventService.js"></script>
<script src="js/loadAllInfo.js"></script>
<script src="js/userService.js"></script>
</body>
</html>