<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../common/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../common/lib/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../common/lib/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../common/css/style.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Events</title>
</head>
<body>
<div class="container-fluid header-container">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../common/images/logo.svg" alt="beer-bottle" data-toggle="tooltip" data-placement="right"
                     data-html="true" title="<b>На главную</b>">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-1 col-4">
                    <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-lg my-sm-0" type="submit">Search</button>
                </form>
                <div class="col-6">
                    <ul class="navbar-nav container-fluid">
                        <li class="nav-item col-4 text-center ">
                            <a href="#">
                                <img src="../../common/images/event.svg" alt="events" data-toggle="tooltip"
                                     data-placement="right"
                                     data-html="true" title="<b>Ивенты</b>">
                            </a>
                        </li>
                        <li class="nav-item col-4 text-center">
                            <a href="../../components/news/news-component.html">
                                <img src="../../common/images/news.svg" alt="message" data-toggle="tooltip"
                                     data-placement="right"
                                     data-html="true" title="<b>Новости</b>">
                            </a>
                        </li>
                        <li class="nav-item col-4 text-center">
                            <a href="#">
                                <img src="../../common/images/friend.svg" alt="friend" data-toggle="tooltip"
                                     data-placement="right"
                                     data-html="true" title="<b>Друзья</b>">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="navbar-nav container-fluid">
                        <li class="nav-item col-6 text-center userName">
                            @User
                        </li>
                        <li class="nav-item dropdown col-6 text-center">
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle disabled" href="#">
                                <img src="../../common/images/settings.svg" alt="settings">
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label mr-4" for="defaultCheck1">
                                            Настройка 1
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    </div>
                                </li>
                                <li class="text-center"><a href="#">Настройка 2</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="text-center"><a href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="container main-content">
    <main>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-block btn-create" data-toggle="modal" data-target="#myModal">
                    Создать ивент
                </button>

                <div id="calendar"></div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h2 class="modal-title" id="createEventLongTitle">Где бухаем?</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title" class="col-form-label col-form-label-lg">Название ивента</label>
                                    <input type="text" class="form-control form-control-lg" id="title"
                                           aria-describedby="titleEvent" placeholder="Title">
                                    <small id="titleHelp" class="form-text text-muted">Введите название ивента</small>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label col-form-label-lg">Описание
                                        ивента</label>
                                    <input type="text" class="form-control form-control-lg" id="description"
                                           aria-describedby="descriptionEvent" placeholder="Description">
                                    <small id="descriptionHelp" class="form-text text-muted">Введите описание ивента
                                    </small>
                                </div>
                                <div>
                                    <label for="startTime" class="col-form-label col-form-label-lg">Время старта</label>
                                    <input type="datetime-local" class="form-control form-control-lg" id="startTime"
                                           required/>
                                    <label for="endTime" class="col-form-label col-form-label-lg">Время
                                        завершения</label>
                                    <input type="datetime-local" class="form-control form-control-lg" id="endTime"
                                           required/>
                                </div>
                                <div>
                                    <label for="places" class="col-form-label col-form-label-lg">Выбирете место</label>
                                    <select class="form-control form-control-lg custom-select" id="places"></select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
                <div class="event">
                    <img src="images/temp_pab.jpg">
                    <p class="title">Вечер бухла</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis id
                        itaque necessitatibus non, sint. Atque doloribus eaque in natus, odio repellat saepe sed? A
                        autem cumque dolore doloremque earum enim, fugiat fugit itaque minus omnis optio possimus quam
                        rerum!</p>
                    <p class="time">18:00 - 22:00 / 20.04</p>
                    <div class="people">
                        <img src="images/user.svg">
                        <p>10</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="../../common/lib/jquery/jquery-2.1.4.min.js"></script>
<script src="../../common/lib/bootstrap/js/popper_1.12.9.js"></script>
<script src="../../common/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../common/lib/bootstrap/js/jquery-ui.min.js"></script>
<script src="../../common/lib/bootstrap/js/bootstrap_4.0.0.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script>
    $('#calendar').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
    });
</script>
</body>
</html>