<link rel="stylesheet" href="common/css/app.css" type="text/css">


<div class="container-fluid">
    <div class="row">
        <div class="user col-md-4">
            <user-ok></user-ok>
        </div>
        <div class="posts col-md-8">
            <div class="card searchBody">
                <div class="card-body poisk container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            Search:
                            <label><input class="search" ng-model="$ctrl.getPosts"/></label>
                        </div>
                        <div class="col-md-6">
                            Sort by:
                            <select class="sort" ng-model="$ctrl.orderProp" title="Change sort option">
                                <option value="title">Title</option>
                                <option value="date">Date</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div ng-show="$ctrl.showForm">
                    <form class="post-text" name="myForm" ng-submit="$ctrl.submit()">
                        <input class="id" ng-show="postid" ng-model="$ctrl.post.id"/>
                        <div class="card profile-info bg-white ">
                            <input type="text" class="form-control add-title-input" ng-model="$ctrl.post.title"
                                   placeholder="Add a title post..."/>
                            <textarea id="example1" ng-model="$ctrl.post.text"
                                      class="form-control input-group-lg p-text-area" rows="2"
                                      placeholder="Whats in your mind today?">
                            </textarea>
                            <div class="card-footer fishki container-fluid cardEdit ">
                                <div class="row">
                                    <div class="col-md-5 btn-group vcenter cnopki">
                                        <button type="button" class="btn" title="Add your place on map"><i
                                                class="fas fa-map-marker-alt fa-lg "></i>
                                        </button>
                                        <button type="button" class="btn" title="Add images"><i
                                                class="fas fa-camera-retro fa-lg "></i>
                                        </button>
                                        <button type="button" class="btn" title="Add video"><i
                                                class="fas fa-film fa-lg "></i></button>
                                        <button type="button" class="btn" title="Add sound "><i
                                                class="fas fa-microphone fa-lg "></i></button>
                                    </div>
                                    <div class="col-md-5  container vcenter">
                                        <div class="row">
                                            <div class="col-md-3 vcenter">
                                                <p class="eye"><i class="fas fa-eye fa-lg"></i></p>
                                            </div>
                                            <div class="col-md-9 vcenter">
                                                <label for="Select1">
                                                    <select class="form-control select" id="Select1" style="padding: 0"

                                                            ng-options="security.description for security in $ctrl.securities track by security.id"
                                                            ng-model="$ctrl.post.security.description">
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 btn-group text-left vcenter">
                                        <button type="submit" class="btn" data-toggle="tooltip" data-placement="top"
                                                title="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                                value="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                                ng-click="$ctrl.submit"><i class="far fa-paper-plane fa-lg "></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Clean form"
                                                class="btn"
                                                ng-click="$ctrl.reset()"><i class="fas fa-undo-alt fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="posts list">
                    <post post="post" get-posts="$ctrl.fetchPosts()"
                          set-likes-user="$ctrl.setLikesUser" bn-show="$ctrl.whoUser" useride="$ctrl.userid"
                          edit-post="$ctrl.edit"
                          ng-repeat="post in $ctrl.posts| filter:$ctrl.getPosts|orderBy:$ctrl.orderProp"></post>
                </div>

                <div class="post-load-more text-center">
                    <div class="modal fade" id="listLikes" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <H4 class="text-center" style="margin: 0 auto;">Information about users, hwo add
                                        "{{$ctrl.stat}}"</H4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row" ng-repeat="likeUser in $ctrl.likesUser">
                                            <div class="col-md-3">
                                                <img class="avatar rounded-circle" src="{{likeUser.userAvatarUrl}}">
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.userName}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.userSurname}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-lg btn-secondary" type="button" data-dismiss="modal"
                                            ng-click="$ctrl.clear()">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                         aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-centered" role="document">
                            <div class="modal-content ">
                                <div class="modal-header" style="text-align: center;">
                                    <H1 class="modal-title">Редактирование поста</H1>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="fas fa-times fa-lg"></i>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <div class="form-group">
                                        <div ng-show="postid">
                                            <input class="id" ng-model="$ctrl.postEdit.id"/>
                                        </div>

                                        <div class=" profile-info bg-white form-group">
                                            <label for="title" class="col-form-label"><strong>Заголовок
                                                поста</strong></label>
                                            <input type="text" id="title" class="add-title form-control"
                                                   ng-model="$ctrl.postEdit.title" placeholder="Add a title post..."
                                                   style="font-size:1.4rem"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="postText" class="col-form-label"><strong>Текст
                                                поста</strong></label>
                                            <textarea id="postText" ng-model="$ctrl.postEdit.text"
                                                      class="form-control input-group-lg p-text-area" rows="2"
                                                      placeholder="Whats in your mind today?" style="font-size:1.4rem">
                                            </textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="Select2" class="col-form-label"><strong>Кому виден пост
                                            </strong></label>

                                            <select class="custom-select form-control " id="Select2"
                                                    style="padding: 0;font-size: 14px;"
                                                    ng-model="$ctrl.postEdit.security.description">
                                                <option ng-repeat="security in $ctrl.securities"
                                                        value="{{security.description}}">
                                                    {{security.description}}
                                                </option>
                                            </select>


                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 btn-group text-left">
                                                <button type="button" class="btn" title="Add your place on map"><i
                                                        class="fas fa-map-marker-alt fa-lg "></i>
                                                </button>
                                                <button type="button" class="btn" title="Add images"><i
                                                        class="fas fa-camera-retro fa-lg "></i>
                                                </button>
                                                <button type="button" class="btn" title="Add video"><i
                                                        class="fas fa-film fa-lg "></i></button>
                                                <button type="button" class="btn" title="Add sound "><i
                                                        class="fas fa-microphone fa-lg "></i></button>
                                            </div>
                                            <div class="col-md-6 btn-group" style="padding-left: 12rem">
                                                <button type="button" class="btn"
                                                        data-placement="top"
                                                        title="Update"
                                                        ng-click="$ctrl.update()"><i class="far fa-edit fa-lg"></i>&nbsp
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" title="Show more posts"
                            class="btn "><i class="fas fa-spinner fa-lg "></i> 4
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>




