<link rel="stylesheet" href="common/css/app.css" type="text/css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="posts col-md-8" >
            <div class="card">
                <div class="card-body container-fluid">
                    <div class="row">
                        <div class="col-md-6">

                            Search:
                            <label><input ng-model="$ctrl.getPosts"/></label>

                        </div>
                        <div class="col-md-6">

                            Sort by:
                            <select ng-model="$ctrl.orderProp" title="Change sort option">
                                <option value="title">Title</option>
                                <option value="date">Date</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <form class="post-text" name="myForm" ng-submit="$ctrl.submit()">

                    <input class="id" ng-show="postid" ng-model="$ctrl.post.id"/>
                    <div class="card profile-info bg-white ">
                        <input type="text" class="form-control add-title-input" ng-model="$ctrl.post.title"
                               placeholder="Add a title post..."/>
                        <textarea id="example1" ng-model="$ctrl.post.text"
                                  class="form-control input-group-lg p-text-area" rows="2"
                                  placeholder="Whats in your mind today?">
                            </textarea>

                        <div class="card-footer container-fluid cardEdit">
                            <div class="row">
                                <div class="col-md-5 btn-group">
                                    <button type="button" class="btn" title="Add your place on map"><i
                                            class="fas fa-map-marker-alt fa-lg "></i>
                                    </button>
                                    <button type="button" class="btn" title="Add images"><i
                                            class="fas fa-camera-retro fa-lg "></i>
                                    </button>
                                    <button type="button" class="btn" title="Add video"><i
                                            class="fas fa-film fa-lg "></i></button>
                                    <button type="button" class="btn" title="Add sound "><i
                                            class="fas fa-microphone fa-lg "></i></button>
                                </div>
                                <div class="col-md-5  container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p><i class="fas fa-eye fa-lg"></i></p>
                                        </div>
                                        <div class="col-md-9">
                                            <label for="Select1">
                                                <select class="form-control select" id="Select1" ng-model="$ctrl.post.security.description">
                                                    <option  value="{{post.security.description}}">{{post.security.description}}</option>
                                                    <option selected disabled>Choose vision..</option>
                                                    <option ng-repeat="security in $ctrl.securities"
                                                            value="{{security.description}}" >{{security.description}}
                                                    </option>

                                                </select></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 btn-group text-left">
                                    <button type="submit" class="btn" data-toggle="tooltip" data-placement="top"
                                            title="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                            value="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                            ng-click="$ctrl.submit"><i class="far fa-paper-plane fa-lg "></i></button>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clean form"
                                            class="btn"
                                            ng-click="$ctrl.reset()"><i class="fas fa-undo-alt fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="posts list">
                    <post post="post" userId="post.user.id" get-posts="$ctrl.fetchPosts()" ng-repeat="post in $ctrl.posts| filter:$ctrl.getPosts|orderBy:$ctrl.orderProp"  ></post>
                </div>
                <div class="post-load-more text-center" >

                    <button type="button" title="Show more posts"
                            class="btn "><i class="fas fa-spinner fa-lg "></i> 4
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>




