<link rel="stylesheet" href="common/css/app.css" type="text/css">


<div class="container-fluid posts">
    <div class="row">
        <div class="user col-md-4">
            <user-ok></user-ok>
            <div class="scrollElements">
                <a href="" ng-click="$ctrl.gotoTop()" class="upup podskazka" titled="scroll up"><i class="fas fa-caret-up fa-lg"></i></a>
                <a href="" ng-click="$ctrl.gotoDown()" class="updown podskazka" titled="scroll down"><i class="fas fa-caret-down fa-lg"></i></a>
            </div>
        </div>

        <div class="posts col-md-8">
            <div class="card searchBody">
                <div class="card-body poisk container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            Search:
                            <label><input class="search" ng-model="$ctrl.getPosts"/></label>
                        </div>
                        <div class="col-md-6">
                            Sort by:
                            <select class="sort podskazka" ng-model="$ctrl.orderProp" titled="Change sort option">
                                <option value="none">None</option>
                                <option value="title">Title</option>
                                <option value="date">Date</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div ng-show="$ctrl.showForm">
                    <div class="post-text" name="myForm">
                        <input class="id" ng-show="postid" ng-model="$ctrl.post.id"/>
                        <div class="card profile-info bg-white ">
                            <input type="text" class="form-control add-title-input" ng-model="$ctrl.post.title"
                                   placeholder="Add a title post..."/>
                            <textarea id="example1" ng-model="$ctrl.post.text"
                                      class="form-control input-group-lg p-text-area" rows="2"
                                      placeholder="Whats in your mind today?">
                            </textarea>
                            <div class="addImage" ng-show="showAreaImage">

                                <file-comp state="$ctrl.stan" stata="stat"
                                           set-uploads-files="$ctrl.setUploadFiles"></file-comp>
                            </div>
                            <div class="card-footer fishki container-fluid cardEdit ">
                                <div class="row">
                                    <div class="col-md-5 btn-group vcenter cnopki">
                                        <button type="button" class="btn podskazka" titled="Add your place on map">
                                            <i class="fas fa-map-marker-alt fa-lg "></i>
                                        </button>
                                        <button type="button" class="btn podskazka" titled="Add images"
                                                ng-click="showAreaImage = ! showAreaImage">
                                            <i class="fas fa-camera-retro fa-lg "></i>
                                        </button>
                                        <button type="button" class="btn podskazka" titled="Add video">
                                            <i class="fas fa-film fa-lg "></i></button>
                                        <button type="button" class="btn podskazka" titled="Add sound ">
                                            <i class="fas fa-microphone fa-lg "></i></button>
                                    </div>
                                    <div class="col-md-5  container vcenter">
                                        <div class="row">
                                            <div class="col-md-3 vcenter">
                                                <p class="eye podskazka" titled="vision"
                                                   ng-switch="$ctrl.post.security.id"><i ng-switch-when="1"
                                                                                         class="fas fa-globe fa-lg"></i>
                                                    <i ng-switch-when="2" class="fas fa-users fa-lg"></i>
                                                    <i ng-switch-when="3" class="fas fa-user-secret fa-lg"></i>
                                                </p>
                                            </div>
                                            <div class="col-md-9 vcenter ">
                                                <label for="Select1">
                                                    <select class="form-control select " id="Select1" style="padding: 0"

                                                            ng-options="security.description for security in $ctrl.securities track by security.id"
                                                            ng-model="$ctrl.post.security">
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 btn-group text-left vcenter">
                                        <button type="button" class="btn podskazka" titled="Add post"
                                                ng-click="$ctrl.download()"><i class="far fa-paper-plane fa-lg "></i>
                                        </button>
                                        <button class="btn podskazka" titled="Clean form" type="button"
                                                ng-click="$ctrl.resetAll()">
                                            <i class="fas fa-undo-alt fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="posts list" infinite-scroll='$ctrl.loadMore()' infinite-scroll-distance='0'
                     infinite-scroll-disabled="$ctrl.scroll" infinite-scroll-immediate-check="true"
                     infinite-scroll-use-document-bottom="true">
                    <post post="post" delete-post="$ctrl.deletePost"
                          set-likes-user="$ctrl.setLikesUser" bn-show="$ctrl.whoUser" wall-user-id="$ctrl.userid"
                          edit-post="$ctrl.edit" open-image="$ctrl.openImage"
                          ng-repeat="post in $ctrl.posts| filter:$ctrl.getPosts|orderBy:$ctrl.orderProp"
                          last="$last" likes="post.likes"></post>
                    <div id="scrolList" class="text-center fa-3x" ng-show="$ctrl.wait">
                        <span class="podskazka" titled="Посты на подходе"><i class="fas fa-spinner fa-pulse"></i></span>
                    </div>
                </div>
                <div class="post-load-more text-center" id="bottom">
                    <div class="modal fade" id="listLikes" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <H4 class="text-center" style="margin: 0 auto;">Information about users, hwo add
                                        "{{$ctrl.stat}}"</H4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row" ng-repeat="likeUser in $ctrl.likesUser">
                                            <div class="col-md-3">
                                                <img class="avatar rounded-circle" src="{{likeUser.userAvatarUrl}}">
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.userName}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.userSurname}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{likeUser.status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-lg btn-secondary" type="button" data-dismiss="modal"
                                            ng-click="$ctrl.clear()">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                         aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-centered" role="document">
                            <div class="modal-content ">
                                <div class="modal-header" style="text-align: center;">
                                    <H1 class="modal-title">Редактирование поста</H1>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="fas fa-times fa-lg"></i>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <div class="form-group">
                                        <div ng-show="postid">
                                            <input class="id" ng-model="$ctrl.postEdit.id"/>
                                        </div>

                                        <div class=" profile-info bg-white form-group">
                                            <label for="title" class="col-form-label"><strong>Заголовок
                                                поста</strong></label>
                                            <input type="text" id="title" class="add-title form-control"
                                                   ng-model="$ctrl.postEdit.title" placeholder="Add a title post..."
                                                   style="font-size:1.4rem"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="postText" class="col-form-label"><strong>Текст
                                                поста</strong></label>
                                            <textarea id="postText" ng-model="$ctrl.postEdit.text"
                                                      class="form-control input-group-lg p-text-area" rows="2"
                                                      placeholder="Whats in your mind today?" style="font-size:1.4rem">
                                            </textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="Select2" class="col-form-label"><strong>Кому виден пост
                                            </strong></label>

                                            <select class="custom-select form-control " id="Select2"
                                                    style="padding: 0;font-size: 14px;"
                                                    ng-model="$ctrl.postEdit.security.description">
                                                <option ng-repeat="security in $ctrl.securities"
                                                        value="{{security.description}}">
                                                    {{security.description}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 btn-group text-left modalBtn">
                                                <button type="button" class="btn podskazka"
                                                        titled="Add your place on map"><i
                                                        class="fas fa-map-marker-alt fa-lg "></i>
                                                </button>
                                                <button type="button" class="btn podskazka" titled="Add images"><i
                                                        class="fas fa-camera-retro fa-lg "></i>
                                                </button>
                                                <button type="button" class="btn podskazka" titled="Add video"><i
                                                        class="fas fa-film fa-lg "></i></button>
                                                <button type="button" class="btn podskazka" titled="Add sound "><i
                                                        class="fas fa-microphone fa-lg "></i></button>
                                            </div>
                                            <div class="col-md-6 btn-group modalBtn" style="padding-left: 12rem">
                                                <button type="button" class="btn podskazka"
                                                        titled="Update"
                                                        ng-click="$ctrl.update()"><i class="far fa-edit fa-lg"></i>&nbsp
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




