<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="container bg-light alert alert-info post-wrapper pl-0 pr-0 mb-3">
                <div class="row m-0">
                    <div class="col-12 p-0">
                        <div class="container">
                            <div class="row post-body align-items-center m-0 p-0 ">
                                <div class="postText col text-left pl-0">{{model.comment.text}}</div>
                            </div>
                            <div class="row bg-light alert alert-info p-1 mb-0 text-left">
                                <div class="postOwner col-5 text-left">
                                    <a class="" href="#!/userInfo{{model.comment.user.id}}">
                                        {{model.comment.ownerName}}
                                    </a>
                                </div>
                                <!--
                                                                <div ng-click="model.changeLike()" class="col-3">
                                                                    <a href="">Лайки: <span class="postLike">{{model.comment.likeCount}}</span>
                                                                        <i ng-if="model.comment.isLike" class="fa fa-thumbs-up"></i>
                                                                        <i ng-if="!model.comment.isLike" class="fa fa-thumbs-o-up"></i>
                                                                    </a>
                                                                </div>
                                -->
                                <div class="postDate col-7 text-right">{{model.comment.date| date:'HH:mm MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>