.table th, .table td, .table thead th, .table tbody td  {
    text-align: center !important;
    vertical-align: center !important;
}

.profile-info .card-footer{
    background-color:#dff0d8;
    border-color:#d6e9c6;
    height: 4rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.post{
    margin-top: 10px;
}
.card-text{
    padding: 10px;
}
.stats{
    padding: 10px;
}
.post .card-footer{
    padding: 0;
}
.post .card-footer {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}
.post-text textarea{
    border-radius: 0;
}

#map {
    width: 400px;
    height: 400px;
}
.navbar-default {
    background-color: rgba(68, 193, 230, 0.84);
}

.color{
    color: brown;
}

.comment .p-2 {padding:0.2rem !important;}

.likeButton{
    background-color: #dff0d8;
    height:3rem ;
    width:4rem ;
    padding: 0;
}
.likeButton img {
    height:3rem ;
    width:3rem ;
}

.add-comment-input{
    border-top:1px solid ;
    border-bottom-color:#ced4da ;
    border-top-color:#ced4da ;
    border-bottom:1px solid;
}
.bordered {
    border: 1px solid #ced4da;
    border-radius:140px;
    margin-bottom: 0
}
.key{
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-meta{
    padding-left: 0;
}
.postsSet a {
    color: #7a7a7a;
}
.cardEdit{
    background-color:#dff0d8;
}
.cardEdit .btn {
    background-color: #dff0d8;
}
.stats .btn{
    background-color: white;
}
.select{

}