

body {
  background: url('../images/forPages/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.col-lg-4 p{
  color: brown;
  font-size: 1.5rem;
}