<div class="container post-wrapper pl-0 pr-0 mb-3">
    <div class="row m-0 p-3 ">
        <div class="friend-select-all align-self-center text-center p-3 mr-3">
            <div class="col">All</div>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/11.jpg" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/16.jpg" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/914.gif" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/1397.jpg" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/2874.gif" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/68572.jpeg" class="post-avatar" alt="ava">
            </a>
        </div>
        <div class="align-self-center pr-2">
            <a href="">
                <img src="images/lion.jpg" class="post-avatar" alt="ava">
            </a>
        </div>
    </div>
</div>
