<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="card card-primary">
                <div class="card-heading">
                    <h3 class="card-title">
                        Авторизация на сайте</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br />
                            <a href="#" class="btn facebook btn-block" role="button">Войти с помощью Facebook</a>
                            <br />
                            <a href="#" class="btn twitter btn-block" role="button">Войти с помощью Twitter</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <form role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fas fa-user "></span></span>
                                    <input type="text" class="form-control" placeholder="Имя пользователя" required autofocus />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fas fa-lock"></span></span>
                                    <input type="text" class="form-control" placeholder="Ваш пароль" required />
                                </div>
                                <p>
                                    <a href="#">Забыли свой пароль?</a></p>
                                У вас нет аккаунта? <a href="#!/registration">Регистрация</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Remember">
                                    Запомнить меня
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="fas fa-check-circle"></i></span>Войти</button>
                            <button type="button" class="btn btn-labeled btn-danger">
                                <span class="btn-label"><i class="fas fa-times"></i></span>Выход</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>