<header class="container-fluid header-container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="index.html">
            <img src="common/images/logo.svg" alt="beer-bottle" data-toggle="tooltip" data-placement="right"
                 data-html="true" title="<b>На главную</b>">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-1 col-4">
                <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-lg my-sm-0" type="submit">Search</button>
            </form>
            <div class="col-6">
                <ul class="navbar-nav container-fluid">
                    <li class="nav-item col-4 text-center ">
                        <a href="components/event/index.html">
                            <img src="common/images/event.svg" alt="events" data-toggle="tooltip"
                                 data-placement="right"
                                 data-html="true" title="<b>Ивенты</b>">
                        </a>
                    </li>
                    <li class="nav-item col-4 text-center">
                        <a href="components/news/news-component.html">
                            <img src="common/images/news.svg" alt="message" data-toggle="tooltip"
                                 data-placement="right"
                                 data-html="true" title="<b>Новости</b>">
                        </a>
                    </li>
                    <li class="nav-item col-4 text-center">
                        <a href="#">
                            <img src="common/images/friend.svg" alt="friend" data-toggle="tooltip"
                                 data-placement="right"
                                 data-html="true" title="<b>Друзья</b>">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="navbar-nav container-fluid">
                    <li class="nav-item col-6 text-center userName">
                        @User
                    </li>
                    <li class="nav-item dropdown col-6 text-center">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle disabled" href="#">
                            <img src="common/images/settings.svg" alt="settings">
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <div class="form-check">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                        Настройка 1
                                    </label>
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </div>
                            </li>
                            <li class="text-center"><a href="#">Настройка 2</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="text-center"><a href="#">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
