<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand col-1" href="#!/wall" ng-click="model.checkActive('wall')">
        <!--OnTheBottle-->
        <img src="images/forPages/logo03.png" width="80" height="25" alt="">
    </a>
    <input ng-model="model.whatToFind" class="form-control mr-sm-2" type="search" placeholder="Что искать..."
           aria-label="Search">
    <a href="#!/find{{model.whatToFind}}">
        <button class="btn btn-outline-success my-2 my-sm-0" ng-click="model.checkActive('find')" type="submit">
            Найти
        </button>
    </a>

    <div class="collapse navbar-collapse col-7" ng-init="model.activeMenu =''">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="(model.activeMenu === 'wall') ? 'active h2' : ''">
                <a class="nav-link" href="#!/wall" ng-click="model.checkActive('wall')">Стена</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'news') ? 'active h2' : ''">
                <a class="nav-link" href="#!/news" ng-click="model.checkActive('news')">Новости</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'event') ? 'active h2' : ''">
                <a class="nav-link" href="#!/event" ng-click="model.checkActive('event')">События</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'friend') ? 'active h2' : ''">
                <a class="nav-link" href="#!/friend" ng-click="model.checkActive('friend')">Друзья</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'place') ? 'active h2' : ''">
                <a class="nav-link" href="#!/place" ng-click="model.checkActive('place')">Места</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'chat') ? 'active h2' : ''">
                <a class="nav-link" href="#!/chat" ng-click="model.checkActive('chat')">Чат</a>
            </li>
        </ul>
<!--
        <audio controls="controls" loop><source src="common/music/samogonochka.mp3" type="audio/mpeg" /></audio>
-->
        <!--autoplay-->
    </div>

    <div class="col-2">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Настройки
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item h5" href="#!/link-friend">link friends</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item h5" href="#!/profile" ng-click="model.getProfile()">
                        <div>
                            <img  src="{{$ctrl.avatar}}" class="friend-avatar" alt="ava">

                        </div>
                        <div class="h5 mt-1">{{model.name}}</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item h5" href="auth.html" ng-click="model.quit()">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>