<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand col-1" href="#">
        <!--OnTheBottle-->
        <img src="images/forPages/logo03.png" width="80" height="25" alt="">
    </a>
    <form class="form-inline col-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Что искать..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>

    <div class="collapse navbar-collapse col-7">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="(model.activeMenu === 'news') ? 'active h2' : ''">
                <a class="nav-link" href="#!/news" ng-click="model.checkActive('news')">Новости</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'wall') ? 'active h2' : ''">
                <a class="nav-link" href="#!/wall" ng-click="model.checkActive('wall')">Стена</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'event') ? 'active h2' : ''">
                <a class="nav-link" href="#!/event" ng-click="model.checkActive('event')">События</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'friend') ? 'active h2' : ''">
                <a class="nav-link" href="#!/friend" ng-click="model.checkActive('friend')">Друзья</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'find') ? 'active h2' : ''">
                <a class="nav-link" href="#!/find" ng-click="model.checkActive('find')">Поиск</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'profile') ? 'active h2' : ''">
                <a class="nav-link" href="#!/profile" ng-click="model.checkActive('profile')">profile-info</a>
            </li>
            <li class="nav-item" ng-class="(model.activeMenu === 'userInfo') ? 'active h2' : ''">
                <a class="nav-link" href="#!/userInfo" ng-click="model.checkActive('userInfo')">user-info</a>
            </li>
        </ul>
    </div>
    <div class="col-2">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Настройки
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item h5" href="#!/profile" ng-click="model.getProfile()">
                        <div>
                            <img ng-if="!!model.avatar" src="{{model.avatar}}" class="friend-avatar" alt="ava">
                            <img ng-if="!model.avatar" src="images/userspictures/default-avatar.jpeg" class="friend-avatar" alt="ava">
                        </div>
                        <div class="h5 mt-1">{{model.name}}</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item h5" href="auth.html" ng-click="model.quit()">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>