<div class="container-fluid">
    <div class="row text-center">
        <div class="container-fluid">
            <p class="text-info h2 text-center">Друзья</p>
            <p class="text-info h2 pt-3 text-center" ng-if="model.friends.length < 1">Друзей пока нет :(</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row justify-content-center">
                <friend-comp friend="friend" ng-repeat="friend in model.friends"></friend-comp>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row text-center pt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <link-friends-comp></link-friends-comp>
        </div>
        <div class="col-4"></div>
    </div>
</div>
