<link rel="stylesheet" href="common/css/event.css" type="text/css">

<div class="container main-content">
    <div class="form-group img_wrap mt-2">
        <img ng-src="{{self.event.place.avatar}}" alt="horizontal">
    </div>
    <div class="page_block title-event row">
        <div>
            <h2>{{self.event.title}}</h2>
        </div>
        <div class="btn-group">
            <div class="tooltip-element" ng-show="self.event.active && (self.event.owner.id === self.userId)">
                <button class="btn btn-info member control" type="button" id="control" ng-click="self.control()">
                    {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
                </button>
                <span class="tooltiptext">Вы являетесь создателем ивента, выход из него приведет к передачи ивента случайному участнику (если вы единственный участник - закрытию ивента).</span>
            </div>
            <button class="btn btn-info control" type="button" ng-click="self.control()"
                    ng-class="{member : self.event.member}"
                    ng-show="self.event.active && !(self.event.owner.id === self.userId)">
                {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
            </button>

            <div class="dropdown" ng-show="self.event.member && self.event.active">
                <button type="button" class="btn btn-settings ml-2 dropdown-toggle" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button type="button" class="dropdown-item"
                            ng-click="self.shareFriends()">Рассказать друзьям
                    </button>
                    <button type="button" class="dropdown-item"
                            ng-show="self.event.owner.id === self.userId"
                            ng-click="self.activeMenu = 'Update'">Редактировать
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2 main-information" ng-show="self.activeMenu === 'Info'">
        <div class="d-inline-block page_block information-event">
            <div class="event-description" title="Описание"><p>{{self.event.text}}</p></div>
            <div class="event-time" title="Дата мероприятия"><p>{{self.event.startTime | date:'dd MMMM yyyy'}} в
                {{self.event.startTime | date:'HH:mm'}} — {{self.event.endTime | date:'dd MMM yyyy'}}
                в {{self.event.endTime | date:'HH:mm'}}</p></div>
            <div class="event-place" title="Местоположение"><p>{{self.event.place.title}}</p></div>
        </div>
        <div class="d-inline-block users-event ml-1">
            <div class="page_block text-center">
                <div class="row justify-content-around">
                    <div class="col-5 text-center block-count" ng-click="self.showUsers('users')">
                        <p class="count">{{self.event.usersCounter}}</p>
                        <p class="count-label">{{self.event.active ? 'Идут' : 'Было'}}</p>
                    </div>
                    <div class="col-5 text-center block-count" ng-click="self.showUsers('invited')"
                         ng-show="self.event.active">
                        <p class="count">Х</p>
                        <p class="count-label">Приглашены</p>
                    </div>
                </div>
                <button class="btn btn-info control mt-2" type="button" ng-click="self.test()"
                        ng-show="self.event.active">
                    Пригласить друзей
                </button>
            </div>

            <div class="page_block mt-2 user-friend" ng-show="self.friendsPreliminary[0] != null"
                 ng-click="self.showUsers('friends')">
                <p>{{self.event.active ? 'Пойдет' : 'Было'}} {{self.event.friendsCounter}} друг(а)</p>
                <img ng-src="{{self.friendsPreliminary[0].avatarUrl}}" ng-show="self.friendsPreliminary[0] != null"
                     title="{{self.friendsPreliminary[0].name}} {{self.friendsPreliminary[0].surname}}">
                <img ng-src="{{self.friendsPreliminary[1].avatarUrl}}" ng-show="self.friendsPreliminary[1] != null"
                     title="{{self.friendsPreliminary[1].name}} {{self.friendsPreliminary[1].surname}}">
            </div>

            <div class="page_block mt-2 user-active">
                <p class="pointer mb-2" ng-click="self.showUsers('users')">Участники {{self.event.usersCounter}}</p>
                <div class="d-inline-block people_cell text-center" title="{{friend.name}} {{friend.surname}}"
                     ng-repeat="friend in self.friendsPreliminary">
                    <a href="#!/userInfo/{{friend.id}}"><img ng-src="{{friend.avatarUrl}}">{{friend.name}}</a>
                </div>
                <div class="d-inline-block people_cell text-center" title="{{user.name}} {{user.surname}}"
                     ng-repeat="user in self.usersPreliminary">
                    <a href="#!/userInfo/{{user.id}}"><img ng-src="{{user.avatarUrl}}">{{user.name}}</a>
                </div>
            </div>
            <div class="page_block mt-2 owner" ng-show="self.owner !== undefined">
                <p class="mb-2">Создатель</p>
                <a href="#!/userInfo/{{self.owner.id}}"><img ng-src="{{self.owner.avatarUrl}}" class="mr-2">
                    {{self.owner.name}} {{self.owner.surname}}</a>
            </div>
        </div>
    </div>

    <div class="mt-2 update-information" ng-show="self.activeMenu === 'Update'">
        <div class="page_block">
            <form name="updateEventForm" id="updateEventForm" ng-submit="self.updateEvent()">
                <div class="form-group">
                    <label for="titleUpdate" class="col-form-label font-italic">Название ивента:</label>
                    <input type="text" name="title" id="titleUpdate"
                           class="form-control form-control-lg" aria-describedby="titleEvent"
                           placeholder="Title"
                           ng-model="self.updateTitle"
                           ng-minlength="3" ng-maxlength="40"
                           ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                           required>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.title.$dirty && updateEventForm.title.$error.minlength || updateEventForm.title.$error.maxlength  && !(updateEventForm.title.$error.$invalid)">
                        В названии должно присутствовать более от 3 до 40 символов
                    </p>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.title.$dirty && updateEventForm.title.$error.pattern">
                        Присутствуют недопустимые символы
                    </p>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.title.$touched && updateEventForm.title.$invalid && !(updateEventForm.title.$error.pattern) && !(updateEventForm.title.$error.minlength)">
                        Поле должно быть заполненным
                    </p>
                </div>
                <div class="form-group">
                    <label for="descriptionUpdate" class="col-form-label font-italic">Описание ивента:</label>
                    <textarea type="text" name="description" class="form-control form-control-lg"
                              id="descriptionUpdate"
                              aria-describedby="descriptionEvent" placeholder="Description"
                              ng-model="self.updateText"
                              ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                              rows="5" required></textarea>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.description.$dirty && updateEventForm.description.$error.pattern">
                        Присутствуют недопустимые символы
                    </p>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.description.$touched && updateEventForm.description.$invalid">
                        Поле должно быть заполненным
                    </p>
                </div>
                <div>
                    <label for="startTimeUpdate" class="col-form-label font-italic">Время старта:</label>
                    <input type="datetime-local" name="startTime" class="form-control form-control-lg"
                           id="startTimeUpdate" ng-model="self.updateStartTime"
                           min="{{self.today | date:'yyyy-MM-ddTHH:mm'}}"
                           required>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.startTime.$touched && updateEventForm.startTime.$invalid && !(updateEventForm.startTime.$error.min)">
                        Поле должно быть заполненным
                    </p>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.startTime.$touched && updateEventForm.startTime.$error.min">
                        Дата начала ивента не может быть раньше текущей даты и времени
                    </p>
                    <label for="endTimeUpdate" class="col-form-label font-italic">Время завершения:</label>
                    <input type="datetime-local" name="endTime" class="form-control form-control-lg"
                           id="endTimeUpdate" ng-model="self.updateEndTime"
                           min="{{self.startTime | date:'yyyy-MM-ddTHH:mm'}}"
                           required>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.endTime.$touched && updateEventForm.endTime.$invalid  && !(updateEventForm.endTime.$error.min)">
                        Поле должно быть заполненным
                    </p>
                    <p class="form-text text-danger"
                       ng-show="updateEventForm.endTime.$touched && updateEventForm.endTime.$error.min">
                        Дата завершения ивента не может быть раньше даты начала ивента
                    </p>
                </div>
                <div>
                    <label for="placesUpdate" class="col-form-label col-form-label-lg font-italic">Выбирете
                        место:</label>
                    <select class="form-control form-control-lg custom-select" id="placesUpdate"
                            ng-options="place.id as place.title for place in self.places"
                            ng-model="self.event.place.id" required>
                    </select>
                </div>
                <div class="float-left mt-2">
                    <button class="btn btn-lg btn-danger" type="button" ng-click="self.closeEvent()">
                        Завершить
                    </button>
                </div>
                <div class="float-right mt-2">
                    <button class="btn btn-lg btn-secondary" type="button" ng-click="self.resetEventUpdate()">
                        Отменить
                    </button>
                    <button class="btn btn-lg btn-success" type="submit" ng-disabled="updateEventForm.$invalid">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="eventUsers" tabindex="-1" role="dialog" aria-labelledby="eventUsersTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" ng-class="{active : self.sortType === 'users'}">
                            <a class="nav-link sort-text" href="" ng-click="self.sortType = 'users'">Участники
                                {{self.event.usersCounter}}</a>
                        </li>
                        <li class="nav-item" ng-class="{active : self.sortType === 'friends'}">
                            <a class="nav-link sort-text" href="" ng-click="self.sortType = 'friends'">Друзья
                                {{self.event.friendsCounter}}</a>
                        </li>
                        <li class="nav-item" ng-class="{active : self.sortType === 'invited'}"
                            ng-show="self.event.active">
                            <a class="nav-link sort-text" href="" ng-click="self.sortType = 'invited'">Приглашены Х</a>
                        </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div ng-show="self.sortType === 'users'">
                        <div class="d-inline-block people_cell text-center" title="{{friend.name}} {{friend.surname}}"
                             ng-repeat="friend in self.friends">
                            <a href="" ng-click="self.showUser(friend.id)"><img ng-src="{{friend.avatarUrl}}">{{friend.name}}
                                {{friend.surname}}</a>
                        </div>
                        <div class="d-inline-block people_cell text-center" title="{{user.name}} {{user.surname}}"
                             ng-repeat="user in self.users">
                            <a href="" ng-click="self.showUser(user.id)"><img ng-src="{{user.avatarUrl}}">{{user.name}}
                                {{user.surname}}</a>
                        </div>
                    </div>
                    <div ng-show="self.sortType === 'friends'">
                        <div class="d-inline-block people_cell text-center" title="{{friend.name}} {{friend.surname}}"
                             ng-repeat="friend in self.friends">
                            <a href="" ng-click="self.showUser(friend.id)"><img ng-src="{{friend.avatarUrl}}">{{friend.name}}
                                {{friend.surname}}</a>
                        </div>
                    </div>
                    <div ng-show="self.sortType === 'invited'">
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-lg btn-danger" type="button" data-dismiss="modal">
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notificationTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content notification">
                <div class="modal-body notification">
                    {{self.notification}}
                </div>
            </div>
        </div>
    </div>
</div>
