<link rel="stylesheet" href="common/css/event.css" type="text/css">

<div class="container main-content">
    <div class="form-group img_wrap mt-2">
        <img ng-src="{{self.event.place.avatar}}" alt="horizontal">
    </div>
    <div class="page_block title-event row" ng-show="self.activeMenu === 'Info'">
        <div>
            <h2>{{self.event.title}}</h2>
        </div>
        <div class="btn-group">
            <div class="tooltip-element" ng-show="self.event.active && self.event.owner">
                <button class="btn btn-info member control" type="button" id="control" ng-click="self.control()">
                    {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
                </button>
                <span class="tooltiptext">Вы являетесь создателем ивента, выход из него приведет к передачи ивента случайному участнику (если вы единственный участник - закрытию ивента).</span>
            </div>
            <button class="btn btn-info control" type="button" ng-click="self.control()"
                    ng-class="{member : self.event.member}"
                    ng-show="self.event.active && !(self.event.owner)">
                {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
            </button>

            <div class="dropdown">
                <button type="button" class="btn btn-settings ml-2 dropdown-toggle" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button type="button" class="dropdown-item">Редактировать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 main-information">
        <div class="d-inline-block page_block information-event">
            <div class="event-description" title="Описание"><p>{{self.event.text}}</p></div>
            <div class="event-time" title="Дата мероприятия"><p>{{self.event.startTime | date:'dd MMMM yyyy'}} в
                {{self.event.startTime | date:'HH:mm'}} — {{self.event.endTime | date:'dd MMM yyyy'}}
                в {{self.event.endTime | date:'HH:mm'}}</p></div>
            <div class="event-place" title="Местоположение"><p>{{self.event.place.title}}</p></div>
        </div>
        <div class="d-inline-block users-event ml-1">
            <div class="page_block text-center">
                <div class="row justify-content-around">
                    <div class="col-5 text-center block-count">
                        <p class="count">100</p>
                        <p class="count-label">Идут</p>
                    </div>
                    <div class="col-5 text-center block-count">
                        <p class="count">110</p>
                        <p class="count-label">Приглашены</p>
                    </div>
                </div>
                <button class="btn btn-info control mt-2" type="button" ng-click="">
                    Пригласить друзей
                </button>
            </div>

            <div class="page_block mt-2 user-friend">
                <p>Пойдет Х друзей</p>
                <img src="images/userspictures/default-avatar.jpeg"> <!--TODO ринимать с бэка двух случайных друзей-->
                <img src="images/userspictures/default-avatar.jpeg">
            </div>

            <div class="page_block mt-2 user-active">
                <p>Участники X</p>
                <div class="d-inline-block people_cell text-center" title="Имя Фамилия">
                    <img src="images/userspictures/default-avatar.jpeg"> <!--TODO ринимать с бэка себя/друга/человека-->
                    <a href="">Имя</a>
                </div>
                <div class="d-inline-block people_cell text-center">
                    <img src="images/userspictures/default-avatar.jpeg"> <!--TODO ринимать с бэка 5 друзей/людей-->
                    <a href="">Имя</a>
                </div>
                <div class="d-inline-block people_cell text-center">
                    <img src="images/userspictures/default-avatar.jpeg">
                    <a href="">Имя</a>
                </div>
                <div class="d-inline-block people_cell text-center">
                    <img src="images/userspictures/default-avatar.jpeg">
                    <a href="">Имя</a>
                </div>
                <div class="d-inline-block people_cell text-center">
                    <img src="images/userspictures/default-avatar.jpeg">
                    <a href="">Имя</a>
                </div>
                <div class="d-inline-block people_cell text-center">
                    <img src="images/userspictures/default-avatar.jpeg">
                    <a href="">Имя</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
                <div ng-show="self.activeMenu === 'Update'">
                    <div class="form-group">
                        <label for="titleUpdate" class="col-form-label">Название ивента</label>
                        <input type="text" name="title" id="titleUpdate"
                               class="form-control form-control-lg" aria-describedby="titleEvent"
                               placeholder="Title"
                               ng-model="self.eventInfo.title"
                               ng-minlength="3" ng-maxlength="40"
                               ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                               required>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.title.$dirty && eventInfoForm.title.$error.minlength || eventInfoForm.title.$error.maxlength  && !(eventInfoForm.title.$error.$invalid)">
                            В названии должно присутствовать более от 3 до 40 символов
                        </p>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.title.$dirty && eventInfoForm.title.$error.pattern">
                            Присутствуют недопустимые символы
                        </p>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.title.$touched && eventInfoForm.title.$invalid && !(eventInfoForm.title.$error.pattern) && !(eventInfoForm.title.$error.minlength)">
                            Поле должно быть заполненным
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="descriptionUpdate" class="col-form-label">Описание
                            ивента</label>
                        <textarea type="text" name="description" class="form-control form-control-lg"
                                  id="descriptionUpdate"
                                  aria-describedby="descriptionEvent" placeholder="Description"
                                  ng-model="self.eventInfo.text"
                                  ng-pattern='/^(?!.*@.*$)(?!.*#.*$)(?!.*\$.*$)(?!.*%.*$)(?!.*\^.*$)(?!.*&.*$)(?!.*_.*$)(?!.*\+.*$)(?!.*=.*$)(?!.*\{.*$)(?!.*\}.*$)(?!.*\[.*$)(?!.*\].*$)(.*)$/'
                                  rows="5" required></textarea>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.description.$dirty && eventInfoForm.description.$error.pattern">
                            Присутствуют недопустимые символы
                        </p>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.description.$touched && eventInfoForm.description.$invalid">
                            Поле должно быть заполненным
                        </p>
                    </div>
                    <div>
                        <label for="startTimeUpdate" class="col-form-label">Время старта</label>
                        <input type="datetime-local" name="startTime" class="form-control form-control-lg"
                               id="startTimeUpdate" ng-model="self.eventInfo.startTime"
                               min="{{self.today | date:'yyyy-MM-ddTHH:mm'}}"
                               required>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.startTime.$touched && eventInfoForm.startTime.$invalid && !(eventInfoForm.startTime.$error.min)">
                            Поле должно быть заполненным
                        </p>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.startTime.$touched && eventInfoForm.startTime.$error.min">
                            Дата начала ивента не может быть раньше текущей даты и времени
                        </p>
                        <label for="endTimeUpdate" class="col-form-label">Время
                            завершения</label>
                        <input type="datetime-local" name="endTime" class="form-control form-control-lg"
                               id="endTimeUpdate"
                               ng-model="self.eventInfo.endTime"
                               min="{{self.startTime | date:'yyyy-MM-ddTHH:mm'}}"
                               required>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.endTime.$touched && eventInfoForm.endTime.$invalid  && !(eventInfoForm.endTime.$error.min)">
                            Поле должно быть заполненным
                        </p>
                        <p class="form-text text-danger"
                           ng-show="eventInfoForm.endTime.$touched && eventInfoForm.endTime.$error.min">
                            Дата завершения ивента не может быть раньше даты начала ивента
                        </p>
                    </div>
                    <div>
                        <label for="placesUpdate" class="col-form-label col-form-label-lg">Выбирете
                            место</label>
                        <select class="form-control form-control-lg custom-select" id="placesUpdate"
                                ng-options="place.id as place.title for place in self.places"
                                ng-model="self.eventInfo.place.id" required>
                        </select>
                    </div>
                    <button class="btn btn-lg btn-danger mt-2" type="button"
                            ng-show="self.isUpdate" ng-click="self.util.closeEvent()">
                        Завершить
                    </button>
                </div>

                <div ng-show="self.activeMenu === 'Users'">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-secondary" type="button" data-dismiss="modal">
                    Закрыть
                </button>
                <button class="btn btn-lg btn-secondary" type="button"
                        ng-show="self.activeMenu === 'Update'" ng-click="self.activeMenu = 'Info'">
                    Отменить
                </button>
                <button class="btn btn-lg btn-success" type="submit"
                        ng-show="self.activeMenu === 'Update'">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>-->
