<div class="card post">
    <div class="card-header container-fluid" style="background-color: white">
        <div class="header row">
            <div class="image col-md-3">
                <img class="avatar rounded-circle" ng-src="{{$ctrl.post.user.avatarUrl}}"
                     alt="user profile image">
            </div>
            <div class="meta col-md-7 ">
                <div class="title h6">
                    <p>
                        <a class="post-user-name" href="#" style="">
                            {{$ctrl.post.user.name}}&nbsp {{$ctrl.post.user.surname}}</a></p>
                    <p ng-bind="$ctrl.post.title"></p>
                </div>
                <p class="text-muted time" style="font-size:0.7rem">{{$ctrl.post.date}}&nbsp &nbsp<i
                        class="fas fa-eye" title="vision"></i>&nbsp: &nbsp {{$ctrl.post.securityPost.description}}</p>

            </div>
            <div class="menu col-md-2">
                <div class="dropdown postsSet">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fas fa-ellipsis-h fa-lg"></i>
                    </a>
                    <div class="dropdown-menu text-left">
                        <a class="dropdown-item" href="" ng-click="$ctrl.dropPost($ctrl.post.id)">
                            <i class="fas fa-trash fa-lg"></i>Delete
                        </a>
                        <a class="dropdown-item" href="" ng-click="$ctrl.edit($ctrl.post.id)">
                            <i class="fas fa-pencil-alt fa-lg"></i>Edit
                        </a>
                        <a class="dropdown-item" href="">
                            <i class="far fa-copy fa-lg"></i>Save
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-img" ng-repeat="image in post.images">
        <img src="{{image.path}}" class="image show-in-modal" alt="image post">
    </div>
    <div class="card-text">
        <p ng-bind="$ctrl.post.text"></p>
        <div class="post id" ng-show="postid">
            <p ng-bind="$ctrl.post.id"></p>
        </div>

    </div>
    <div class="stats container-fluid">
        <div class="row">
            <div class="col-md-4 text-center dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                        title="Add likePost..."><i
                        class="fas fa-thumbs-up fa-lg"></i> Like
                </button>
                <div class="dropdown-menu row">
                    <a class="dropdown-item" href="" style="color:black" ng-click="$ctrl.likePost($ctrl.post.id)">
                        <i class="far fa-thumbs-up"></i>Like
                    </a>
                    <a class="dropdown-item" href="" style="color:black" ng-click="$ctrl.dislike($ctrl.post.id)">
                        <i class="far fa-thumbs-down"></i>Dislike
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn " type="button"
                        title="Add your comment..." ng-click=""><i
                        class="fas fa-comments fa-lg"></i> Comment
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn "
                        title="Share..."><i
                        class="far fa-share-square fa-lg"></i> Share
                </button>
            </div>
        </div>
    </div>

    <div class="card-footer" style="background-color: #dff0d8">


        <div class="border-bottom ">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="likeButton btn"
                            title=""><img src="images/forPages/likePost.png"/>{{$ctrl.post.likePosts.length}}
                    </button>
                </div>
                <div class="col-md-8">
                    <span ng-click="$ctrl.clear()">{{$ctrl.warning}}</span>
                </div>
            </div>
        </div>

        <div class="comments list" ng-repeat="comment in $ctrl.post.comments|orderBy:$ctrl.orderProp">
            <comment comment="comment"></comment>
        </div>


    </div>
    <form name="commentForm" ng-submit="$ctrl.submitComment()">
        <input class="form-control add-comment-input example2" placeholder="Add a comment..."
               ng-model="$ctrl.commenting"
               type="text" ng-keypress="$ctrl.keyPressed($event,$ctrl.post.id)"/>
        <p class="key">Press ..Enter.. to commit...</p>

    </form>
</div>
</div>