<div class="card post"
     ng-init="$ctrl.getUser($ctrl.post.user.id,$ctrl.post.id,$ctrl.post.uploadFiles,$ctrl.post.likes,$ctrl.post.comments,$ctrl.post.date)">

    <div class="card-header container-fluid" style="padding-bottom: 0">

        <div class="header row">
            <div class="image-user col-md-2">
                <img class="avatar rounded-circle img-fluid" ng-src="{{$ctrl.user.avatarUrl}}"
                     alt="user profile image">
            </div>
            <div class="meta col-md-7 ">
                <div ng-show="userId">
                    <label for="userPost">
                        <input id="userPost" type="text" ng-model="$ctrl.userId" value="{{$ctrl.post.user.id}}"/>
                    </label>
                </div>

                <div class="titlePost">
                    <p class="userData align-self-center">
                        <a class="post-user-name align-self-center" href="#!/userInfo/{{$ctrl.userid}}">
                            {{$ctrl.user.name}}&nbsp {{$ctrl.user.surname}}</a></p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 timePost align-self-center">
                            <time am-time-ago="$ctrl.dateUTCTOlocal" ng-if="$ctrl.watch"></time>
                            <time ng-if="!$ctrl.watch">{{$ctrl.format}}</time>
                        </div>
                        <div class="col-sm-8 text-left visionPost"
                             ng-switch="$ctrl.description($ctrl.post.security.description)">
                            <a ng-switch-when="globe"><img ng-src="images/forPages/earth.svg"
                                                           title="пост виден всем"></a>

                            <a ng-switch-when="friend"><i class="fas fa-users fa-lg" title="пост виден друзьям"></i></a>
                            <a ng-switch-when="self"><i class="fas fa-user-secret fa-lg"
                                                        title="пост виден только мне"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu col-md-3">
                <div class="dropdown postsSet">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fas fa-ellipsis-h fa-lg"></i>
                    </a>
                    <div class="dropdown-menu text-left">
                        <a class="dropdown-item" href=""
                           ng-show="$ctrl.showButtonDelete($ctrl.post.user.id,$ctrl.wallUserId)"
                           ng-click="$ctrl.dropPost($ctrl.post.id,$ctrl.changeDelete($ctrl.post.user.id))">
                            <i class="fas fa-trash fa-lg"></i>&nbsp{{$ctrl.changeDelete($ctrl.post.user.id)}}
                        </a>
                        <a class="dropdown-item" href="" ng-show="$ctrl.showEditButton($ctrl.post.user.id)"
                           ng-click="$ctrl.edit($ctrl.post.id)">
                            <i class="fas fa-pencil-alt fa-lg"></i>&nbsp Редактировать
                        </a>
                        <a class="dropdown-item" href="" ng-show="$ctrl.showSaveButton($ctrl.post.user.id)"
                           ng-click="$ctrl.PostToMyWall($ctrl.post.id)">
                            <i class="far fa-copy fa-lg"></i>&nbsp Сохранить на стену
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-img image">


                <div class="everyImage img-thumbnail" style={{$ctrl.style}} ng-repeat="image in $ctrl.images">

                    <a class="fancybox" data-fancybox="{{$ctrl.group}}" ng-href="{{image.url}}">
                        <img class="img-fluid" ng-src="{{image.url}}"/>
                    </a>

                </div>


    </div>


    <!--ng-click="$ctrl.openImageFancybox()"
            <div class="container text-center " ng-if="$ctrl.imagesA">
                <div class="row">
                    <div class="col-md thumb" ng-repeat="image in $ctrl.images">
                        <a ng-click="$ctrl.openLightboxModal($index)">
                            <img ng-src="{{image.url}}" class="img-thumbnail "/>
                        </a>
                    </div>
                </div>
            </div>
    -->
    <!--   <div ng-repeat="image in $ctrl.images">
           <a id="{{$index}}" ng-href="{{image.url}}" fancyboxable>
               <img ng-src="{{image.url}}"/>
           </a></div> -->


    <div class="card-body">
        <div class="card-text text-post-text">
            <p class="title"><i class="far fa-circle"></i>&nbsp{{$ctrl.post.title}}</p>
            <p ng-bind="$ctrl.post.text"></p>
            <div class="post id" ng-show="postid">
                <p ng-bind="$ctrl.post.id"></p>
            </div>
        </div>
    </div>
    <div class="stats container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <div class="col-sm-6 text-right align-self-center" style="padding-right: 0">
                                    <div ng-if="$ctrl.likeUser">
                                        <button class="btn podskazka" type="button" ng-click="$ctrl.deleteLike('like')"
                                                titled="Удалить оценку"><i class="fas fa-thumbs-up fa-lg"></i>
                                        </button>
                                    </div>
                                    <div ng-if="!$ctrl.likeUser">
                                        <button class="btn podskazka" type="button" ng-click="$ctrl.like($ctrl.post.id)"
                                                titled="Добавить лайк"><i class="far fa-thumbs-up fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-left align-self-center" style="padding-left: 0">
                                    <a href="" style="color:#007bff" title="инфо"
                                       ng-click="$ctrl.open($ctrl.post.id,$ctrl.statLike)">
                                        /{{$ctrl.countLike}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <div class="col-sm-6 text-right align-self-center" style="padding-right: 0">
                                    <div ng-if="$ctrl.dislikeUser">
                                        <button class="btn podskazka" type="button"
                                                ng-click="$ctrl.deleteLike('dislike')"
                                                titled="Удалить оценку"><i class="fas fa-thumbs-down fa-lg"></i>
                                        </button>
                                    </div>
                                    <div ng-if="!$ctrl.dislikeUser">
                                        <button class="btn podskazka" type="button"
                                                ng-click="$ctrl.dislike($ctrl.post.id)"
                                                titled="Добавить дизлайк"><i class="far fa-thumbs-down fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-left align-self-center" style="padding-left: 0">
                                    <a href="" style="color:#007bff" title="инфо"
                                       ng-click="$ctrl.open($ctrl.post.id,$ctrl.statDislike)">
                                        /{{$ctrl.countDislike}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center" style="padding-left: 0">
                <div class="container" style="padding-left: 0">
                    <div class="row">
                        <div class="col-sm-7 text-right align-self-center" style="padding-right: 0;padding-left: 0">
                            <div ng-if="$ctrl.stateComment">
                                <button class="btn podskazka" type="button"
                                        titled="Добавить комментарий" ng-click="$ctrl.focus()"><i
                                        class="fas fa-comments fa-lg"></i>&nbsp Комментировать
                                </button>
                            </div>
                            <div ng-if="!$ctrl.stateComment">
                                <button class="btn podskazka" type="button"
                                        titled="Добавить комментарий" ng-click="$ctrl.focus()"><i
                                        class="far fa-comments fa-lg"></i>&nbsp Комментировать
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-5 text-left align-self-center" style="padding-right: 0;padding-left: 0">
                            <a href="" style="color:#007bff"
                               ng-click="showComments = ! showComments">
                                / {{$ctrl.comments.length}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <button type="button" class="btn podskazka"
                        titled="Share..."><i
                        class="far fa-share-square fa-lg"></i> Поделиться
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="comments list" ng-show="showComments">
            <comment comment="comment" ng-repeat="comment in $ctrl.comments"
                     drop-comment="$ctrl.dropComment"></comment>
        </div>
    </div>
    <div class="container-fluid text-center" ng-click="showComments = ! showComments">
        <span ng-if="showComments"><i class="fas fa-caret-up"></i></span>
        <span ng-if="!showComments"><i class="fas fa-caret-down"></i></span>
    </div>
    <form name="commentForm" ng-submit="$ctrl.submitComment()">
        <input id="{{$ctrl.random}}" class="form-control add-comment-input example2"
               placeholder="Add a comment..."
               ng-model="$ctrl.commenting"
               type="text" ng-keypress="$ctrl.keyPressed($event,$ctrl.post.id)"/>
        <p class="key">Комментировать...Enter</p>
    </form>
    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content ">
                <div class="modal-header text-center">
                    <H3>Вы уже оценили пост</H3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fas fa-times fa-lg"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>
