<link rel="stylesheet" href="common/css/app.css" type="text/css">


            <div class="card">
                <div class="card-body container-fluid">
                    <div class="row">
                        <div class="col-md-6">

                            Search:
                            <label><input ng-model="$ctrl.getPosts"/></label>

                        </div>
                        <div class="col-md-6">

                            Sort by:
                            <select ng-model="$ctrl.orderProp" title="Change sort option">
                                <option value="title">Title</option>
                                <option value="date">Date</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <form class="post-text" name="myForm" ng-submit="$ctrl.submit()">
                    <input class="id" ng-show="postid" ng-model="$ctrl.post.id"/>
                    <div class="card profile-info bg-white ">
                        <input type="text" class="form-control add-title-input" ng-model="$ctrl.post.title"
                               placeholder="Add a title post..."/>
                        <textarea id="example1" ng-model="$ctrl.post.text"
                                  class="form-control input-group-lg p-text-area" rows="2"
                                  placeholder="Whats in your mind today?">
                            </textarea>

                        <div class="card-footer container-fluid cardEdit">
                            <div class="row">
                                <div class="col-md-5 btn-group">
                                    <button type="button" class="btn" title="Add your place on map"><i
                                            class="fas fa-map-marker-alt fa-lg "></i>
                                    </button>
                                    <button type="button" class="btn" title="Add images"><i
                                            class="fas fa-camera-retro fa-lg "></i>
                                    </button>
                                    <button type="button" class="btn" title="Add video"><i
                                            class="fas fa-film fa-lg "></i></button>
                                    <button type="button" class="btn" title="Add sound "><i
                                            class="fas fa-microphone fa-lg "></i></button>
                                </div>
                                <div class="col-md-5  container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p><i class="fas fa-eye fa-lg"></i></p>
                                        </div>
                                        <div class="col-md-9">
                                            <label for="Select1">
                                                <select class="form-control select" id="Select1" ng-model="$ctrl.post.security.description">
                                                    <option  value="{{post.security.description}}">{{post.security.description}}</option>
                                                    <option selected disabled>Choose vision..</option>
                                                    <option ng-repeat="security in $ctrl.securities"
                                                    value="{{security.description}}" >{{security.description}}
                                                    </option>

                                                </select></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 btn-group text-left">
                                    <button type="submit" class="btn" data-toggle="tooltip" data-placement="top"
                                            title="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                            value="{{!$ctrl.post.id ? 'Add' : 'Update'}}"
                                            ng-click="$ctrl.submit"><i class="far fa-paper-plane fa-lg "></i></button>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clean form"
                                            class="btn"
                                            ng-click="$ctrl.reset()"><i class="fas fa-undo-alt fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card post" ng-repeat="post in $ctrl.posts| filter:$ctrl.getPosts|orderBy:$ctrl.orderProp">
                    <div class="card-header container-fluid" style="background-color: white">
                        <div class="header row">
                            <div class="image col-md-3">
                                <img class="avatar rounded-circle" ng-src="{{post.user.avatarUrl}}"
                                     alt="user profile image">
                            </div>
                            <div class="meta col-md-7 ">
                                <div class="title h6">
                                    <a class="post-user-name" href="#" style="">{{post.user.name}}
                                        {{post.user.surname}}</a>
                                    <p>{{post.title}} </p>
                                </div>
                                <p class="text-muted time" style="font-size:0.7rem">{{post.date}}; <i
                                        class="fas fa-eye" title="vision"></i> :{{post.security.description}}</p>

                            </div>
                            <div class="menu col-md-2">
                                <div class="dropdown postsSet">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                        <i class="fas fa-ellipsis-h fa-lg"></i>
                                    </a>
                                    <div class="dropdown-menu text-left">
                                        <a class="dropdown-item" href="" ng-click="$ctrl.deletePost(post.id)">
                                            <i class="fas fa-trash fa-lg"></i>Delete
                                        </a>
                                        <a class="dropdown-item" href="" ng-click="$ctrl.edit(post.id)">
                                            <i class="fas fa-pencil-alt fa-lg"></i>Edit
                                        </a>
                                        <a class="dropdown-item" href="">
                                            <i class="far fa-copy fa-lg"></i>Save
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-img" ng-repeat="image in post.images">
                        <img src="{{image.path}}" class="image show-in-modal" alt="image post">
                    </div>
                    <div class="card-text">
                        <p>{{post.text}}</p>
                        <div class="post id" ng-show="postid">
                            <p>{{post.id}}</p>
                        </div>

                    </div>
                    <div class="stats container-fluid">
                        <div class="row">
                            <div class="col-md-4 text-center dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                        title="Add like..."><i
                                        class="fas fa-thumbs-up fa-lg"></i> Like
                                </button>
                                <div class="dropdown-menu row">
                                    <a class="dropdown-item" href="" style="color:black" ng-click="$ctrl.like({{post.id}})">
                                        <i class="far fa-thumbs-up" ></i>Like
                                    </a>
                                    <a class="dropdown-item" href="" style="color:black" ng-click="$ctrl.dislike({{post.id}})">
                                        <i class="far fa-thumbs-down"></i>Dislike
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <button class="btn " type="button"
                                        title="Add your comment..." ng-click=""><i
                                        class="fas fa-comments fa-lg"></i> Comment
                                </button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button"  class="btn "
                                        title="Share..."><i
                                        class="far fa-share-square fa-lg"></i> Share
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer" style="background-color: #dff0d8">


                        <div class="border-bottom ">

                            <button type="button" class="likeButton btn"
                                    title="{{post.likes}}"><img src="images/forPages/like.png"/>{{post.likes.length}}
                            </button>

                        </div>

                        <div class="comments-list d-flex align-items-center " ng-repeat="comment in post.comments">
                            <div class="comment container-fluid p-2" id="{{comment.id}}">
                                <div class="comment-head row p-2">
                                    <div class="comment-avatar col-md-2 d-flex align-items-center text-right"
                                         style="padding-right: 0">
                                        <a class="p-2" href="#">
                                            <img class="avatar rounded-circle p-2" ng-src="{{comment.user.avatarUrl}}"
                                                 alt="avatar"></a>
                                    </div>
                                    <div class="comment-meta col-md-10 d-flex align-items-center text-left"
                                         style="margin-bottom: 0">
                                        <p class="bordered bg-white p-2">
                                            <a href="#">{{comment.user.name}}
                                                {{comment.user.surname}}</a>
                                            {{comment.text}}
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p class="time" style="margin-bottom: 0">{{comment.date}}</p>
                                </div>
                            </div>
                        </div>
                        <form name="commentForm" ng-submit="$ctrl.submitComment()">
                        <input id="{{$index}}" class="form-control add-comment-input example2" placeholder="Add a comment..."
                               ng-model="$ctrl.commenting"
                               type="text" ng-keypress="$ctrl.keyPressed($event,post.id)"/>
                        <p class="key">Press ..Enter.. to commit...</p>

                        </form>
                        </div>
                </div>
                <div class="post-load-more text-center">
                    <button type="button" title="Show more posts"
                            class="btn "><i class="fas fa-spinner fa-lg "></i> 4
                    </button>
                </div>
            </div>




