<div class="event">
    <a href="#!/eventInfo/{{self.event.id}}"><img class="pub-img" ng-src="{{self.event.place.avatar}}"></a>
    <div class="title-event"><a href="#!/eventInfo/{{self.event.id}}">{{self.event.title}}</a></div>
    <p class="description">{{self.event.text | cut:true:330:' ...'}}</p>
    <p class="time">{{self.event.active ? (self.event.startTimeTemp === self.today ?
        'Сегодня' : (self.event.startTimeTemp < self.today ? 'Событие началось'
        : 'Событие состоится')) : (self.event.startTimeTemp > self.today ?
        'Событие не состоится' : 'Событие прошло')}} {{self.event.startTime | date:'dd MMM yyyy'}} в
        {{self.event.startTime | date:'HH:mm'}}</p>
    <div class="people">
        <img src="images/events/user.svg">
        <p>{{self.event.usersCounter}}</p>
    </div>
    <div class="btn-group control">
        <div class="tooltip-element" ng-show="self.event.active && (self.event.owner.id === self.userId)">
            <button class="btn btn-info member" type="button" id="control" ng-click="self.control()">
                {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
            </button>
            <span class="tooltiptext">Вы являетесь создателем ивента, выход из него приведет к передачи ивента случайному участнику (если вы единственный участник - закрытию ивента).</span>
        </div>
        <button class="btn btn-info" type="button" ng-click="self.control()" ng-class="{member : self.event.member}"
                ng-show="self.event.active && !(self.event.owner.id === self.userId)">
            {{self.event.member ? 'Вы участвуете' : 'Присоединится'}}
        </button>
    </div>
</div>