<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <!--Write your HTML here-->
            <p class="text-info h2 text-center">Поиск</p>
            <p class="text-info h2 text-center">ID пользователя: {{model.userId}}</p>
            <p class="text-info h2 text-center">Запрос из строки поиска: {{model.whatToFind}}</p>
            <!--end your HTML-->
            <div class="row">
                <div class="col-md-5">
                    <div ng-repeat="person in model.listOfPersons">
                        <div class="alert alert-info bg-light">
                            <img src="{{person.avatarUrl}}">
                            {{person.name}} {{person.surname}}
                        </div>
                    </div>
                </div>
            </div>
            {{model.listOfPersons}}
        </div>
    </div>
</div>
