<div class="container-fluid" ng-init="model.orderRule = 'name'">
    <div class="row">
        <div class="container-fluid">
            <!--Write your HTML here-->
            <p class="text-info h2 text-center">Поиск</p>
            <div class="row justify-content-md-center alert alert-info bg-light">
                <div class="col-md-5">
                    <span>Сортировка:</span>
                    <button type="button" ng-click="model.setOrderRule('name')" class="btn btn-outline-info btn-lg">имя
                        <i class="fas fa-sort-up" ng-show="model.orderRule == 'name'"></i>
                        <i class="fas fa-sort-down" ng-show="model.orderRule == '-name'"></i>
                    </button>
                    <button type="button" ng-click="model.setOrderRule('surname')" class="btn btn-outline-info btn-lg">
                        фамилия
                        <i class="fas fa-sort-up" ng-show="model.orderRule == 'surname'"></i>
                        <i class="fas fa-sort-down" ng-show="model.orderRule == '-surname'"></i>
                    </button>
                    <button type="button" ng-click="model.setOrderRule('age')" class="btn btn-outline-info btn-lg">
                        возраст
                        <i class="fas fa-sort-up" ng-show="model.orderRule == 'age'"></i>
                        <i class="fas fa-sort-down" ng-show="model.orderRule == '-age'"></i>
                    </button>
                </div>
                <!--<div class="col-md-5">-->
                <!--<span>Возраст </span>-->
                <!--<select ng-model="model.ageFrom">-->
                <!--<option value="">&#45;&#45; от &#45;&#45;</option>-->
                <!--<option ng-repeat="n in model.n">{{n}}</option>-->
                <!--</select>-->
                <!--<span>до</span>-->
                <!--<select ng-model="model.ageTo">-->
                <!--<option value="">&#45;&#45; до &#45;&#45;</option>-->
                <!--<option ng-repeat="n in model.n">{{n}}</option>-->
                <!--</select>-->
                <!--</div>-->
            </div>
            <div class="row justify-content-md-center">
                <div ng-repeat="person in model.listOfPersons|orderBy: model.orderRule"
                     class="col-md-3">

                    <div class="alert alert-info bg-light m-2">
                        <a class="dropdown-item p-0" href="#!/userInfo/{{person.id}}">
                            <div class="text-center">
                                <img ng-if="person.avatarUrl && !person.deleted" src="{{person.avatarUrl}}"
                                     class="friend-avatar"
                                     alt="ava">
                                <img ng-if="!person.avatarUrl && !person.deleted"
                                     src="images/userspictures/default-avatar.jpeg"
                                     class="friend-avatar" alt="ava">
                                <img ng-if="person.deleted" src="images/userspictures/deleted-avatar.jpg"
                                     class="friend-avatar" alt="ava">
                            </div>
                            <div class="pb-1">
                                <p class="text-center">{{person.name}} {{person.surname}}</p>
                            </div>
                        </a>
                        <div>
                            <button-friends-comp size="small" user-id="person.id" ng-show="!person.deleted"
                                                 style="position: absolute; right: 0.5rem; top:0.1rem;"></button-friends-comp>
                        </div>
                    </div>
                </div>
            </div>
            <!--{{model.listOfPersons}}-->
        </div>
    </div>
</div>
