.table th, .table td, .table thead th, .table tbody td {
    text-align: center !important;
    vertical-align: center !important;
}

.profile-info .card-footer {
    background-color: #e2c7e2;
    border-color: blueviolet;
    height: 6rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.post {
    margin-top: 10px;
    border: 2px solid;
    border-color: blueviolet;
}

.card-text {
    padding: 10px;
}

.stats {
    padding: 10px;
}

.post .card-footer {
    padding: 0;
}

.post .card-footer {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.post-text textarea {
    border-radius: 0;
}

#map {
    width: 400px;
    height: 400px;
}

.comment .p-2 {
    padding: 0.2rem !important;
}

.likeButton {
    background-color: #e2c7e2;
    height: 6rem;
    width: 7rem;
    padding: 0;
}

.likeButton img {
    height: 6rem;
    width: 6rem;
}

.add-comment-input {
    border-top: 1px solid;
    border-top-color: blueviolet;
    border-bottom: 1px solid;
    border-bottom-color: blueviolet;
}

.bordered {
    border: 1px solid darkorchid;
    border-radius: 140px;
    margin-bottom: 0
}

.key {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-meta {
    padding-left: 0;
}

.postsSet a {
    color: black;
}

.cardEdit .btn {
    background-color: #e2c7e2;
    font-size: 1.4rem;
}

.stats .btn {
    background-color: white;
    font-size: 1.4rem;
}

.time p {
    color: black;
    font-size: 1.6rem;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
}

.userData {
    font-size: 1.8rem;
    font-family: 'Abril Fatface', cursive;
}

.stats {
    font-size: 1.6rem;
}

.example2 {
    font-size: 1.6rem;
}

.likeButton {
    font-size: 1.4rem;
}

.dropdown-item {
    font-size: 1.4rem;
}

.likeArea {
    border-bottom: 1px solid;
    border-bottom-color: blueviolet;
    border-top: 1px solid;
    border-top-color: blueviolet;
}

.card-header {
    border-bottom: 1px solid;
    border-bottom-color: blueviolet;
}

.card-footer {
    background-color: #e2c7e2;
}

.post-text {
    border: 2px solid;
    border-color: blueviolet;
}

#example1 {
    border-top: 1px solid;
    border-top-color: blueviolet;
    border-left: 0;
    border-bottom: 1px solid;
    border-bottom-color: blueviolet;
    border-right: 0;
    font-size: 1.4rem;

}

.add-title-input {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    font-size: 1.4rem;
}

.searchBody {
    margin-bottom: 1rem;
    border: 2px solid;
    border-color: blueviolet;
    height: 6rem;
}

.select {
    font-size: 1.4rem;
}

.eye {
    margin-bottom: 0;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.cnopki btn {
    font-size: 1.4rem;
}

.fishki {
    padding-top: 1.5rem;
}

.search {
    height: 2.5rem;
    border: 2px solid;
    border-color: blueviolet;
}

.sort {
    height: 2.5rem;
    border: 2px solid;
    border-color: blueviolet;
}

.poisk {
    padding-top: 1.5rem;
    padding-bottom: 0;
    height: 4rem;
}

#Select1 {
    border: 2px solid;
    border-color: blueviolet;
}
#editPost .modal-footer button{
    font-size: 1.4rem;
}