.table th, .table td, .table thead th, .table tbody td {
    text-align: center !important;
    vertical-align: center !important;
}

.posts-body {
    padding-right: 1rem;
}

.scrollElements {
    padding-right: 0;
    padding-left: 1rem;
}

.posts {
    padding-left: 0;
    padding-right: 10rem;
}

.postsUser {

}

.postsUserInfo {
    background: url(../../images/forPages/dust_scratches.png);
    border: 2px solid;
    border-color: #00A5E3;
    border-radius: 1rem;
    font-size: 1.4rem;
}

.postsUserInfo .card-footer{
    border-top: 1px solid #00A5E3;
}

.user {
    padding-left: 1.5rem;
    padding-right: 0;
}

.profile-info .card-footer {

    border-color: #00A5E3;
    height: 6rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.post {
    margin-top: 10px;
    border: 2px solid;
    border-color: #00A5E3;
}

.text-post-text {
    padding: 0;
    border-left: 2px solid;
    border-left-color: gainsboro;
    padding-left: 1rem;
}

.stats {
    padding: 10px;
}

.post {
    background: url(../../images/forPages/dust_scratches.png);
}

.post .card-footer {
    padding: 0;
}

.post .card-footer {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.post-text textarea {
    border-radius: 0;
}

#map {
    width: 400px;
    height: 400px;
}

.comment .p-2 {
    padding: 0.2rem !important;
}

.likeButton {
    background-color: transparent;
    height: 6rem;
    width: 7rem;
    padding: 0;
}

.likeButton img {
    height: 6rem;
    width: 6rem;
}

.add-comment-input {
    border-radius: 0;
    border-top: 1px solid;
    border-top-color: #00A5E3;
    border-bottom: 1px solid;
    border-bottom-color: #00A5E3;
}

.bordered {
    border: 1px solid #00A5E3;
    border-radius: 140px;
    margin-bottom: 0
}

.key {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-meta {
    padding-left: 0;
}

.postsSet a {
    color: black;
}

.cardEdit .btn {
    background-color: transparent;
    font-size: 1.4rem;
}

.stats .btn {
    background-color: transparent;
    font-size: 1.4rem;
}

.time p {
    color: black;
    font-size: 1.6rem;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
    color: #0056b3;
}

.image-user img {
    width: auto;
    height: 8rem;
}

.timePost {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.4rem;
}

.visionPost {
    padding-left: 0;
}

.visionPost img {
    width: 2.5rem;
    height: auto;
}

.meta {
    padding-left: 0;
    padding-right: 0;
}

.menu {
    padding-right: 0;
    padding-left: 0;
}

.userData {

    font-family: 'Abril Fatface', cursive;
    margin-bottom: 0;
}

.userData a {
    font-size: 1.8rem;
}

.stats {
    font-size: 1.6rem;
    border-top: 1px solid;
    border-top-color: #00A5E3;
}

.example2 {
    font-size: 1.6rem;
}

.likeButton {
    font-size: 1.4rem;
}

.dropdown-item {
    font-size: 1.4rem;
}

.likeArea {
    border-bottom: 1px solid;
    border-bottom-color: #00A5E3;
    border-top: 1px solid;
    border-top-color: #00A5E3;
}

.card-header {
    border-bottom: 1px solid;
    border-bottom-color: #00A5E3;
}

.card-footer {

}

.post-text {
    border: 2px solid;
    border-color: #00A5E3;
}

#example1 {
    border-top: 1px solid;
    border-top-color: #00A5E3;
    border-left: 0;
    border-bottom: 1px solid;
    border-bottom-color: #00A5E3;
    border-right: 0;
    font-size: 1.4rem;

}

.add-title-input {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    font-size: 1.4rem;
}

.searchBody {
    margin-bottom: 1rem;
    border: 2px solid;
    border-color: #00A5E3;
    height: 6rem;

}

.select {
    font-size: 1.4rem;
}

.eye {
    margin-bottom: 0;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.cnopki button {
    font-size: 1.4rem;
}

.fishki {
    padding-top: 1.5rem;
}

.search {
    height: 2.5rem;
    border: 2px solid;
    border-color: #00A5E3;
}

.sort {
    height: 2.5rem;
    border: 2px solid;
    border-color: #00A5E3;
}

.poisk {
    padding-top: 1.5rem;
    padding-bottom: 0;
    height: 4rem;
}

#Select1 {
    border: 2px solid;
    border-color: #00A5E3;
}

#editPost .modal-footer button {
    font-size: 1.4rem;
}

.thumb  {
    -webkit-filter: grayscale(0);
    filter: none;
    border: 1px solid #0056b3;
    margin-top: 1rem;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.tooltip {
    border-bottom: 1px dotted #0077AA;
    cursor: help;
}

.tooltip::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */

    transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
}

.podskazka {
    display: inline;
    position: relative;
}

.podskazka:hover:after {
    background: #333;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 32px;
    color: #fff;
    content: attr(titled);
    font-size: 1.4rem;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;

}

.podskazka:hover:before { /* Добавляем стрелочку внизу блока всплывающей подсказки */
    border: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent;
    border-width: 6px 6px 0 6px;
    bottom: 26px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.modalBtn .btn {
    background: transparent;
}

.updown {
    position: fixed;
    top: 50rem;

}

.upup {
    position: fixed;
    top: 20rem;

}

.scrollElements {
    margin: 0;
}

.scrollElements a {
    color: #00A5E3;
}

.everyImage{
    display:inline-block;
    margin-top:0.5%;
    margin-left:0.5%;
    margin-right: 0.5%;
}
.img-thumbnail{
    border-color:#00A5E3;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:400px;
    height:250px;
    margin-top: 1rem;
    border:  solid 1px;
    border-color:#00A5E3;
}

.modalAvatar{
    width:740px;
    height:390px;
    margin-top: 1rem;
    border:solid 1px #00A5E3;
}

.userModal button{
    background: transparent;
    font-size: 1.4rem;
}

.addFoto{
    background: transparent;
    font-size: 1.8rem;
}

