.main-content {
    border-radius: 5px;
}

.main-content .btn-create {
    border: 1px solid #4c4c4c;
    margin: 1rem 0;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    height: 2.7rem;
    color: black;
    background-color: #ecebe8;
    border-radius: 5px;
}

.main-content .errorInput {
    border: 1px solid red;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    cursor: default;
    text-transform: uppercase;
    font-size: 1.4rem;
    background: snow;
    border-radius: 5px;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-month {
    position: relative;
    color: #565656;
    font-size: 1.5rem;
    padding-right: 13px;
}

.ui-datepicker-year {
    color: #565656;
    font-size: 1.5rem;
    padding-left: 5px;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 7px;
    height: 7px;
    content: '';
    background: linear-gradient(to top, #8f8a8f 0%, #8f8e8c 100%);
    border-radius: 50%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    padding: 5px 0;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
}

.ui-datepicker-prev span {
    background: url(../../images/events/arrow_prev.svg) no-repeat center;
    background-size: 10px 10px;
}

.ui-datepicker-next span {
    background: url(../../images/events/arrow_next.svg) no-repeat center;
    background-size: 10px 10px;
}

.ui-datepicker-prev-hover span {
    background-position: -2px 0;
}

.ui-datepicker-next-hover span {
    background-position: 2px 0;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    color: #8f8e8c;
}

.ui-datepicker-calendar td {
    text-align: center;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    outline: none;
    text-decoration: none;
    padding: 0.05rem;
    color: #8f8e8c;
    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #555253;
    border: 1px solid #555253;
}

.ui-datepicker-other-month .ui-state-default {
    color: #b6b6b6;
}

.main-content .event {
    width: 100%;
    position: relative;
    background-color: snow;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;
}

.main-content .event .pub-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    cursor: pointer;
}

.main-content .event .title-event {
    position: absolute;
    left: 50%;
    top: 0;
    cursor: pointer;
}

.main-content .event .title-event a {
    position: relative;
    left: -50%;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: black;
}

.main-content .event .description,
.main-content .event .time,
.main-content .event .people {
    font-size: 1.4rem;
    padding: 0;
    margin: 0 10px;
}

.main-content .event .description {
    width: 85%;
    position: absolute;
    top: 52%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.main-content .event .time {
    position: absolute;
    bottom: 4px;
    left: 100px;
    color: #000000;
}

.main-content .event .people {
    position: absolute;
    bottom: 6px;
    right: 3px;
    color: #000000;
    vertical-align: middle;
}

.main-content .event .people p {
    position: relative;
    display: inline-block;
    margin: 0;
    left: -5%;
}

.main-content .event .people img {
    position: relative;
    display: inline-block;
    left: 10%;
    width: 100%;
    max-width: 14px;
    max-height: 14px;
}

.main-content .event .control {
    position: absolute;
    bottom: 4px;
    right: 50px;
}

.main-content .event .control button {
    background: #00A5E3;
    width: 110px;
    font-size: 1.3rem;
}

.main-content .event .control .member {
    background: #e6e2df;
    border-color: #e6e2df;
    color: black;
}

.main-content .nav-tabs .nav-link {
    color: black;
}

.main-content .nav-tabs .active {
    border-left: grey solid 1px;
    border-top: grey solid 1px;
    border-right: grey solid 1px;
}

.main-content .sort {
    margin-bottom: 0;
    padding: .6rem 1rem;
}

.main-content .sort-text {
    font-size: 1.4rem;
}

.main-content .modal .close {
    font-size: 2rem;
}

.tooltip-element:hover .tooltiptext {
    visibility: visible;
}

.tooltip-element .tooltiptext {
    visibility: hidden;
    width: 31rem;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 0;
    margin: -9rem 0 0 -16rem;

    position: absolute;
    z-index: 1;
}

.tooltip-element .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: black;
}

.main-content .load {
    width: 3rem;
    height: 3rem;
    background: url(../../images/events/load.svg) no-repeat center;
    background-size: 100% 100%;
}

.main-content .load:active {
    transform: translatey(3px);
    background-image: url("../../images/events/load.svg") !important;
}

.main-content .notification {
    border-radius: 0.7rem;
    background: black;
    font-size: 1.4rem;
    color: snow;
}