.main-content {
    border-radius: 5px;
}

.main-content .row,
.main-content p {
    margin: 0;
}

.main-content .img_wrap {
    width: 100%;
    height: 200px;
}

.main-content .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content .main-information {
    position: relative;
}

.page_block {
    position: relative;
    background: snow;
    padding: 1rem;
    font-size: 1.4rem;
}

.update-information .page_block {
    overflow: hidden;
}

.main-content .title-event .btn-group {
    position: absolute;
    bottom: 1.4rem;
    right: 1rem;
}

.main-content .title-event .control {
    background: #00A5E3;
    width: 125px;
    font-size: 1.4rem;
}

.main-content .title-event .control.member {
    background: #e6e2df;
    border-color: #e6e2df;
    color: black;
}

.main-content .title-event .btn-settings {
    width: 5rem;
    height: 3rem;
    border-color: #e6e2df;
    background: url(../../images/events/dots.svg) no-repeat center;
    background-size: 100% 100%;
}

.main-content .btn-settings:active {
    transform: translatey(3px);
    background-image: url("../../images/events/dots.svg") !important;
}

.main-content .title-event .dropdown-item{
    font-size: 1.4rem;
}

.tooltip-element:hover .tooltiptext {
    visibility: visible;
}

.tooltip-element .tooltiptext {
    visibility: hidden;
    width: 31rem;
    font-size: 1rem;
    background-color: black;
    color: snow;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 0;
    margin: -9rem 0 0 -16rem;

    position: absolute;
    z-index: 1;
}

.tooltip-element .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: black;
}

.main-content .information-event {
    width: 70%;
}

.main-content .event-description,
.main-content .event-time,
.main-content .event-place {
    padding-left: 25px;
}

.main-content .event-description p,
.main-content .event-time p,
.main-content .event-place p {
    margin-bottom: 0.5rem;
}

.main-content .event-description:before,
.main-content .event-time:before,
.main-content .event-place:before {
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    margin: 1px 0 0 -25px;
}

.main-content .event-description:before {
    background: url(../../images/events/information.svg) no-repeat center;
    background-size: 100% 100%;
}

.main-content .event-time:before {
    background: url(../../images/events/clock.svg) no-repeat center;
    background-size: 100% 100%;
}

.main-content .event-place:before {
    background: url(../../images/events/place.svg) no-repeat center;
    background-size: 100% 100%;
}

.main-content .users-event {
    position: absolute;
    top: 0;
    right: 0;
    width: 29.3%;
}

.main-content .users-event .block-count {
    cursor: pointer;
}

.main-content .users-event .count {
    font-size: 1.6rem;
    font-weight: bold;
    color: #009cdb;
}

.main-content .users-event .count-label {
    font-size: 1.4rem;
    color: #555253;
}

.main-content .users-event .block-count:hover .count-label {
    color: #00A5E3;
}

.main-content .users-event .control {
    background: #00A5E3;
    width: 90%;
    font-size: 1.4rem;
}

.main-content .users-event .user-friend {
    cursor: pointer;
    position: relative;
}

.main-content .users-event .user-friend p {
    display: inline-block;
}

.main-content .users-event .user-friend img {
    position: absolute;
    border-radius: 50%;
    border: 2px solid snow;
    width: 2.7rem;
    height: 2.7rem;
    right: 1rem;
    top: 0.7rem
}

.main-content .users-event .user-friend img:first-of-type {
    z-index: 1;
    right: 2.7rem;
}

.main-content .people_cell {
    cursor: pointer;
    width: 32%;
    margin: 0 auto;
}

.main-content .modal-body .people_cell {
    width: 24%;
}

.main-content .people_cell img {
    border-radius: 50%;
    margin: 0 auto;
    width: 8.9rem;
    height: 8.9rem;
    cursor: pointer;
}

.main-content .people_cell a {
    display: inline-grid;
}

.main-content .owner img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.main-content .nav-tabs .nav-link {
    color: black;
}

.main-content .nav-tabs .active {
    border-left: grey solid 1px;
    border-top: grey solid 1px;
    border-right: grey solid 1px;
}

.main-content .sort-text {
    font-size: 1.4rem;
}

.main-content .modal .close {
    font-size: 2rem;
}