.main-content .notification {
    border-radius: .7rem;
    background: black;
    font-size: 1.4rem;
    color: snow;
}

.main-content .card {
    min-width: 26rem;
    margin-top: 1rem;
}

.main-content .card-img-top {
    min-width: 25rem;
    min-height: 23rem;
}

.main-content .card-title {
    font-size: 1.6rem;
    font-weight: bold;
}