/*For header by Valera*/

html {
    font-size: 10px
}

body {
    background-color: #eeeeee;
    font-size: 1.6rem;
    font-family: Arial, Tahoma, sans-serif;
    padding-top: 60px;
}

.header-container .navbar {
    background: #d8d7d3;
}

.header-container .navbar img {
    max-width: 4rem;
}

.header-container .navbar-collapse .form-inline input {
    border: 1px solid #4c4c4c;
    box-shadow: none;
    height: 2.7rem;
    color: black;
    padding: 0 6px;
    width: 20rem;
}

.header-container .navbar-collapse .form-inline button {
    border: 1px solid #4c4c4c;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 1.2rem;
    height: 2.7rem;
    vertical-align: top;
    box-shadow: none;
    color: #eeeeee;
    background-color: black;
}

.header-container .navbar .col-2 .container-fluid {
    padding: 0;
}

.header-container .navbar .userName {
    padding: 1rem 0;
    font-size: 2rem;
}

.header-container .navbar .dropdown:hover .dropdown-menu {
    width: 100%;
    margin-top: 0;
    display: block;
}

.header-container .navbar .dropdown-menu {
    font-size: 1.2rem;
    background-color: #dcdbd7;
    border-radius: 5px;
}

.header-container .navbar .dropdown-menu a {
    color: black;
    text-decoration: none;
}

.header-container .navbar .dropdown-toggle::after {
    display: none;
}

/*Alexander Cherba style*/

.content-wrapper {
    max-width: 1400px;
}

.post-wrapper {
    position: relative;
    border: 1px solid #b8daff;
    border-radius: 0.25rem;
}

.post-body {
    min-height: 7rem;
}

.post-avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border: 1px solid  #b8daff;
    border-radius: 1.0rem;
}

.friend-card {
    width: 250px;
}
.friend-avatar {
    width: 80px;
    height: 80px;
    border: 1px solid  #b8daff;
    border-radius: 10rem;
}

.friend-select-all{
    border-radius: 0.5rem;
    border: 1px solid #b8daff;
}

.friend-select-all:hover, .friend-select-all:active{
    color: #856404;
    background-color: #b8daff;
}
.friend-select-all:checked{
    color: #856404;
    background-color: #b8daff;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

input.ng-invalid {
    background-color:lightgoldenrodyellow;
}
input.ng-valid {
    background-color:white;
}
