<!--
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            &lt;!&ndash;Write your HTML here&ndash;&gt;
            <p class="text-info h2 text-center">Добавить в друзья</p>
        </div>
    </div>
</div>
-->

<div ng-show="model.user.friendStatus == 'confirmed'">
    <button type="button" ng-click="model.denyRelation(model.user.id)" class="btn btn-danger p-3 pl-4 pr-4">Удалить из друзей</button>
</div>
<div ng-show="model.user.friendStatus == 'requested'">
    <button type="button" class="btn btn-default p-3 pl-4 pr-4">Запрос в друзья отправлен</button>
</div>
<div ng-show="model.user.friendStatus == 'notconfirmed'">
    <button type="button" ng-click="model.confirmRelation(model.user.id)" class="btn btn-success p-3 pl-2 pr-2">Принять приглашение
    </button>
    <button type="button" ng-click="model.denyRelation(model.user.id)" class="btn btn-danger p-3 pl-2 pr-2">Отклонить приглашение
    </button>
</div>
<div ng-show="model.user.friendStatus == 'unknown'">
    <button type="button" ng-click="model.invite(model.user.id)" class="btn btn-info p-3 pl-4 pr-4">Пригласить в друзья</button>
</div>
