<link rel="stylesheet" href="components/friends/button/button.css" type="text/css">

<div id="smallButton">
    <div ng-show="model.user.friendStatus == 'confirmed'" title="Удалить из друзей">
        <button type="button" ng-click="model.denyRelation(model.user.id)"
                class="btn btn-danger p-0 pl-2 pr-2">-</button>
    </div>
    <div ng-show="model.user.friendStatus == 'requested'" title="Запрос еще не рассмотрен">
        <button type="button"
                class="btn btn-default p-0 pl-2 pr-2">?</button>
    </div>
    <div ng-show="model.user.friendStatus == 'unknown'" title="Пригласить в друзья">
        <button type="button" ng-click="model.invite(model.user.id)"
                class="btn btn-info p-0 pl-2 pr-2">+</button>
    </div>
</div>